.color {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #7d4b7a), to(rgba(45, 30, 80, 0.1)));
  background: linear-gradient(0deg, #7d4b7a 10%, rgba(45, 30, 80, 0.1) 100%);
}

.texture {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url("../images/texture.jpg");
  mix-blend-mode: multiply;
  opacity: .35;
}

.controls,
.menu {
  display: none;
}

.intro {
  position: relative;
  background: black;
}

.intro h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  z-index: 100;
}

.intro h1 span {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: fade 800ms ease-in-out forwards;
          animation: fade 800ms ease-in-out forwards;
}

.intro h1 span:nth-child(1) {
  -webkit-animation-delay: calc(1.875s + (1 * .075s));
          animation-delay: calc(1.875s + (1 * .075s));
}

.intro h1 span:nth-child(2) {
  -webkit-animation-delay: calc(1.875s + (2 * .075s));
          animation-delay: calc(1.875s + (2 * .075s));
}

.intro h1 span:nth-child(3) {
  -webkit-animation-delay: calc(1.875s + (3 * .075s));
          animation-delay: calc(1.875s + (3 * .075s));
}

.intro h1 span:nth-child(4) {
  -webkit-animation-delay: calc(1.875s + (4 * .075s));
          animation-delay: calc(1.875s + (4 * .075s));
}

.intro h1 span:nth-child(5) {
  -webkit-animation-delay: calc(1.875s + (5 * .075s));
          animation-delay: calc(1.875s + (5 * .075s));
}

.intro h1 span:nth-child(6) {
  -webkit-animation-delay: calc(1.875s + (6 * .075s));
          animation-delay: calc(1.875s + (6 * .075s));
}

.intro h1 span:nth-child(7) {
  -webkit-animation-delay: calc(1.875s + (7 * .075s));
          animation-delay: calc(1.875s + (7 * .075s));
}

.intro h1 span:nth-child(8) {
  -webkit-animation-delay: calc(1.875s + (8 * .075s));
          animation-delay: calc(1.875s + (8 * .075s));
}

.intro h1 span:nth-child(9) {
  -webkit-animation-delay: calc(1.875s + (9 * .075s));
          animation-delay: calc(1.875s + (9 * .075s));
}

.intro h1 span:nth-child(10) {
  -webkit-animation-delay: calc(1.875s + (10 * .075s));
          animation-delay: calc(1.875s + (10 * .075s));
}

.intro h1 span:nth-child(11) {
  -webkit-animation-delay: calc(1.875s + (11 * .075s));
          animation-delay: calc(1.875s + (11 * .075s));
}

.intro h1 span:nth-child(12) {
  -webkit-animation-delay: calc(1.875s + (12 * .075s));
          animation-delay: calc(1.875s + (12 * .075s));
}

.intro h1 span:nth-child(13) {
  -webkit-animation-delay: calc(1.875s + (13 * .075s));
          animation-delay: calc(1.875s + (13 * .075s));
}

.intro h1 span:nth-child(14) {
  -webkit-animation-delay: calc(1.875s + (14 * .075s));
          animation-delay: calc(1.875s + (14 * .075s));
}

.intro h1 span:nth-child(15) {
  -webkit-animation-delay: calc(1.875s + (15 * .075s));
          animation-delay: calc(1.875s + (15 * .075s));
}

.intro h1 span:nth-child(16) {
  -webkit-animation-delay: calc(1.875s + (16 * .075s));
          animation-delay: calc(1.875s + (16 * .075s));
}

.intro h1 span:nth-child(17) {
  -webkit-animation-delay: calc(1.875s + (17 * .075s));
          animation-delay: calc(1.875s + (17 * .075s));
}

.intro h1 span:nth-child(18) {
  -webkit-animation-delay: calc(1.875s + (18 * .075s));
          animation-delay: calc(1.875s + (18 * .075s));
}

.intro h1 span:nth-child(19) {
  -webkit-animation-delay: calc(1.875s + (19 * .075s));
          animation-delay: calc(1.875s + (19 * .075s));
}

.intro h1 span:nth-child(20) {
  -webkit-animation-delay: calc(1.875s + (20 * .075s));
          animation-delay: calc(1.875s + (20 * .075s));
}

.intro .img {
  position: absolute;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

.intro .img.wall {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33.333%;
  background-image: url("../images/img-wall.png");
  background-repeat: repeat-x;
  -webkit-animation: wallSlideIn 1.25s ease-in-out;
          animation: wallSlideIn 1.25s ease-in-out;
  z-index: 100;
}

.intro .img.mountain {
  left: 0;
  bottom: 33%;
  width: 100%;
  height: 33.333%;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  background-repeat: no-repeat;
  -webkit-animation: mtSlideIn 1.2s ease-in-out;
          animation: mtSlideIn 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 99;
}

.intro .img.mountain.left {
  background-image: url("../images/img-mt-left.png");
  background-position: left;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.intro .img.mountain.right {
  background-image: url("../images/img-mt-right.png");
  background-position: right;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.intro .img.people {
  bottom: 0;
  height: 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1/2.25;
  -webkit-animation: peopleSlideIn 1.5s ease-in-out;
          animation: peopleSlideIn 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  z-index: 101;
}

.intro .img.people.left {
  left: 30%;
  background-image: url("../images/img-people01.png");
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.intro .img.people.right {
  left: 60%;
  background-image: url("../images/img-people02.png");
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

@-webkit-keyframes wallSlideIn {
  from {
    -webkit-transform: translateY(100%) scale(2);
            transform: translateY(100%) scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes wallSlideIn {
  from {
    -webkit-transform: translateY(100%) scale(2);
            transform: translateY(100%) scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes peopleSlideIn {
  from {
    -webkit-transform: translateY(400%) scale(8);
            transform: translateY(400%) scale(8);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes peopleSlideIn {
  from {
    -webkit-transform: translateY(400%) scale(8);
            transform: translateY(400%) scale(8);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes mtSlideIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  35% {
    -webkit-transform: translateY(1%) scale(1.075);
            transform: translateY(1%) scale(1.075);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes mtSlideIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  35% {
    -webkit-transform: translateY(1%) scale(1.075);
            transform: translateY(1%) scale(1.075);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=intro.css.map */