
*,
*:before,
*:after {
    box-sizing: border-box;
}

$container-size: 1440px;

@import "../font/pretendard-subset.css";

html,
body { 
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    overflow: hidden;
    font-family: 'Pretendard', sans-serif;
}

@import "./intro.scss";

.flex {
    display: flex;
    &.end {
        justify-content: end;
    }
    &.between {
        justify-content: space-between;
    }
    &.evenly {
        justify-content: space-evenly;
    }
    &.align-start {
        align-items: start;
    }
    &.align-center {
        align-items: center;
    }
    &.vertical {
        flex-direction: column;
    }
}

header {
    position: relative;
    z-index: 2;
    width: $container-size;
    margin: 0 auto;
    padding-top: 2.5rem;
    h2 {
        display: none;
    }
    a {
        display: inline-flex;
        align-items: center;
        height: auto;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 150%;
        &:last-child {
            margin-left: 4rem;
            &:before {
                content: '';
                display: inline-block;
                position: relative;
                left: -2rem;
                width: 1px;
                height: 2rem;
                background: white;
                opacity: .5;
            }
        }
    }
}

footer {
    position: relative;
    z-index: 2;
    background: #e6e6e6;
    color: #808080;
    padding: .75rem 0;
    > .flex {
        width: $container-size;
        margin: 0 auto;
        &:not(.align-center) {
            display: none;
        }
    }
    ul {
        list-style: none;
        line-height: 150%;
        border-left: 1px solid #c2c2c2;
        font-size: .75rem;
        margin-left: 1.75rem;
        padding-left: 1.75rem;
        a {
            color: #808080;
        }
    }
    .logos {
        display: flex;
        a {
            margin-left: 2rem;
        }
        img {
            height: 1.75rem;
        }
    }
}

.browser-info {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #D883A0 0%, #613270 100%);
    color: white;
    header {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, .2);
        margin: 0;
        padding: 1.5rem 0;
        img {
            height: 2.75rem;
        }
    }
    .content {
        flex-grow: 1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > .align-center {
            justify-content: center;
            gap: 10rem;
        }
    }
    p {
        font-size: 1.5rem;
        line-height: 150%;
        margin-bottom: 4rem;
    }
    a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 200;
        line-height: 150%;
    }
    sub {
        font-size: .875rem;
        margin-top: 10rem;
    }
    footer {
        background: transparent;
        text-align: center;
        padding: 2rem 0;
        .flex {
            display: inline-flex;
            gap: 1.5rem;
            width: auto;
            background: white;
            border-radius: 9999px;
            padding: .5rem 1.5rem;
            a {
                display: flex;
                align-items: center;
            }
        }
    }
}
.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(0deg, #b87598 10%, #703678 100%);
    > svg {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 8rem;
        border: 1px solid white;
        z-index: 100;
    }
    header,
    footer {
        flex: 0 0 auto;
    }
    section {
        flex-grow: 1;
        .wrapper {
            position: relative;
            top: 35%;
            width: $container-size;
            aspect-ratio: 16 / 6;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
            > .flex {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                &:nth-of-type(2) {
                    top: 140px;
                }
                &:last-of-type {
                    top: 340px;
                    width: 102%;
                    margin-left: -1%;
                }
            }
            h2 {
                position: absolute;
                top: -55%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                img {
                    width: 85%;
                    margin: 0 auto;
                }
                span {
                    opacity: 0;
                }
            }
        }
        article {
            position: relative;
            display: inline-block;
            width: 25%;
            height: 100%;
            background: linear-gradient(90deg, #ADBEDB 0%, #A2ADC1 17.00%, #9BA1B0 34.00%, #999EAA 46.00%, #D3DDEB 54.00%, #D3DAE6 100%);
            // background-image: url("data:image/svg+xml,%3Csvg width='354' height='603' viewBox='0 0 354 603' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M353.97 102.19V602.69H0V102.19C0 99.48 1.79 96.78 5.37 94.71L164.03 3.1C166.71 1.55 170.01 0.59 173.46 0.2C173.62 0.18 173.78 0.16 173.94 0.15C174.17 0.13 174.41 0.1 174.64 0.09C175.08 0.06 175.52 0.03 175.97 0.02C176.3 0.01 176.64 0 176.97 0C177.3 0 177.64 0 177.97 0.02C178.41 0.02 178.86 0.06 179.3 0.09C179.53 0.1 179.75 0.12 179.97 0.15C183.61 0.49 187.11 1.47 189.92 3.1L348.59 94.71C352.17 96.77 353.96 99.48 353.96 102.19H353.97Z' fill='url(%23paint0_linear_7_4)'/%3E%3Cpath d='M176.98 203.04C172.2 203.04 167.72 201.97 164.36 200.03L5.69998 108.42C2.44998 106.55 0.669983 104.1 0.669983 101.52C0.669983 98.94 2.45998 96.49 5.69998 94.62L164.37 3.01C167.73 1.07 172.21 0 176.98 0C181.76 0 186.24 1.07 189.6 3.01L348.27 94.62C351.51 96.49 353.3 98.94 353.3 101.52C353.3 104.1 351.51 106.55 348.27 108.42L189.6 200.03C186.24 201.97 181.76 203.04 176.98 203.04Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_7_4' x1='0' y1='0' x2='353.97' y2='0' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ADBEDB'/%3E%3Cstop offset='0.17' stop-color='%23A2ADC1'/%3E%3Cstop offset='0.34' stop-color='%239BA1B0'/%3E%3Cstop offset='0.46' stop-color='%23999EAA'/%3E%3Cstop offset='0.54' stop-color='%23D3DDEB'/%3E%3Cstop offset='1' stop-color='%23D3DAE6'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: top center;
            transform: translateY(150%);
            animation: SlideIn .875s cubic-bezier(0.65, 0, 1, 1);
            animation-fill-mode: forwards;
            &:before {
                content: "";
                display: inline-block;
                width: 100%;
                aspect-ratio: 1 / 0.584;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='354' height='204' viewBox='0 0 354 204' fill='none'%3E%3Cg filter='url(%23filter0_i_2_16084)'%3E%3Cpath d='M176.98 203.04C172.2 203.04 167.72 201.97 164.36 200.03L5.69998 108.42C2.44998 106.55 0.669983 104.1 0.669983 101.52C0.669983 98.94 2.45998 96.49 5.69998 94.62L164.37 3.01C167.73 1.07 172.21 0 176.98 0C181.76 0 186.24 1.07 189.6 3.01L348.27 94.62C351.51 96.49 353.3 98.94 353.3 101.52C353.3 104.1 351.51 106.55 348.27 108.42L189.6 200.03C186.24 201.97 181.76 203.04 176.98 203.04Z' fill='url(%23paint0_linear_2_16084)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_2_16084' x='0.669983' y='0' width='352.63' height='203.04' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='-1'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_2_16084'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2_16084' x1='176.985' y1='0' x2='176.985' y2='203.04' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23EFEFEF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.1)) drop-shadow(0 -1px 0 white);
                transform: translateY(-49%);
            }
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: -50%;
                left: 0;
                width: 100%;
                padding-bottom: 100%;
                background: linear-gradient(90deg, #ADBEDB 0%, #A2ADC1 17.00%, #9BA1B0 34.00%, #999EAA 46.00%, #D3DDEB 54.00%, #D3DAE6 100%);
            }
            img {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -62.5%);
                &:first-of-type:not(:last-of-type) {
                    z-index: 2;
                    top: -45%;
                    transform: translateX(-50%);
                }
            }
            @for $i from 1 through 7 {
                &.article-0#{$i}{
                    animation-delay: calc((#{$i} * .0675s));
                }
            }
        }
        @keyframes SlideIn {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
}

$color-red: #F06673;
$color-yellow: #FF8B00;
$color-green: #93D600;
$color-mint: #00CEA6;
$color-sky: #23ABE8;
$color-violet: #7E2D9C;
$inset-shaddow: inset 0 4px 4px rgba(0,0,0,.25);

.slick-prev,
.slick-next {
    &:before {
        content:''
    }
    top: calc(50% + 29px);
    width: 2.5rem;
    height: 2.5rem;
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}
.slick-next {
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.slick-prev:hover, .slick-prev:focus {
    background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center / contain;
}
.slick-next:hover, .slick-next:focus {
    background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center / contain;
}

	
.video {
    width: 100%;
    margin: 1rem auto 5rem;
    .video-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;
        iframe {
            z-index: 1;
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}



.sub {
    height: 100%;
    background: #e6e6e6;
    border-width: .625rem 0 0 0;
    border-style: solid;
    box-shadow: $inset-shaddow;
    overflow-y: auto;
    padding-bottom: 4rem;
    &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #444;
        border-radius: 9999px;
        background-clip: padding-box;
        border: 2px solid transparent;
    }
    &.love {
        $color: $color-red;
        border-color: $color;
        background: linear-gradient(0deg, #F2DFDF 0%, #E9BEBD 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
    }
    &.learn {
        $color: $color-yellow;
        border-color: $color;
        background: linear-gradient(0deg, #F2EADF 0%, #FFDAB1 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
    }
    &.letter {
        $color: $color-green;
        border-color: $color;
        background: linear-gradient(0deg, #EBF3DA 0%, #E9F9C6 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
    }
    &.postcard {
        $color: $color-mint;
        border-color: $color;
        background: linear-gradient(0deg, #E2F9F4 0%, #C2F2E9 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
    }
    &.visitor {
        $color: $color-sky;
        border-color: $color;
        background: linear-gradient(0deg, #E7FAFF 0%, #C6E9F2 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .evenly {
            > div:first-of-type {
                padding-right: 5rem;
            }
        }
        .input-wrapper {
            background: $color;
            text-align: center;
            padding: 1rem 1.25rem;
            input,
            textarea {
                width: 100%;
                font-size: 1.125rem;
                font-family: "Pretendard", sans-serif;
                padding: .5rem 1rem;
                border: none;
                & + span {
                    color: white;
                    flex-shrink: 0;
                }
                &::placeholder {
                    color: #c3c3c3;
                }
            }
            textarea {
                resize: none;
                width: 100%;
                margin: .75rem 0 0;
            }
            .end {
                color: white;
                font-size: .875rem;
                margin-bottom: 1rem;
            }
            button {
                display: inline-block;
                background: #DCD7C0;
                color: #333;
                border: none;
                font-size: 1.125rem;
                padding: .5rem 2.5rem;
            }
        }
    }
    &.invite {
        $color: $color-violet;
        border-color: $color;
        background: linear-gradient(0deg, #F3E6F9 0%, #E3C3EF 100%);
        overflow-y: auto;
        > .back {
            svg path {
                fill: $color;
            }
        }
        .wrapper {
            width: 1024px;
            padding-bottom: 5rem;
            .evenly {
                flex-grow: 0;
                margin-bottom: 4rem;
                > div:first-of-type {
                    padding: 0 5rem 0 0;
                }
                & + div {
                    font-size: 1.25rem;
                    line-height: 150%;
                    h4 {
                        margin-bottom: 0;
                    }
                }
            }
        }
        .input-wrapper {
            background: $color;
            text-align: center;
            padding: 1rem 1.25rem;
            input,
            textarea {
                width: 100%;
                font-size: 1.125rem;
                font-family: "Pretendard", sans-serif;
                padding: .5rem 1rem;
                border: none;
                & + span {
                    color: white;
                    flex-shrink: 0;
                }
                &::placeholder {
                    color: #c3c3c3;
                }
            }
            textarea {
                resize: none;
                width: 100%;
                margin: .75rem 0 0;
            }
            .end {
                color: white;
                font-size: .875rem;
                margin-bottom: 1rem;
            }
            button {
                display: inline-block;
                background: #DCD7C0;
                color: #333;
                border: none;
                font-size: 1.125rem;
                padding: .5rem 2.5rem;
            }
        }
        .carousel {
            padding: 0;
            .slick-prev, 
            .slick-next {
                top: 50%;
            }
            .slick-prev {
                left: 1rem;
            }
            .slick-next {
                right: 1rem;
            }
        }
    }
    > .back {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
        svg {
            width: 100%;
        }
    }
    section {
        height: 100%;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        width: $container-size;
        margin: 0 auto;
        img {
            display: block;
        }
        .logo {
            height: 5.625rem;
            margin-bottom: 3.25rem;
        }
        .title {
            height: 2.5rem;
            margin-bottom: 2.75rem;
        }
        p {
            font-size: 1.125rem;
            line-height: 140%;
        }
        .evenly {
            flex: 1;
            margin-bottom: 4rem;
            padding-top: 4rem;
            > div {
                width: 50%;
                &:first-of-type {
                    padding-left: 10rem;
                }
            }
            .menu-image img {
                width: 512px;
            }
        }
    }
    .list {
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        gap: 2rem;
        padding: 0 5rem;
        > div {
            text-align: center;
            flex: 1 0 auto;
            .image-wrapper {
                width: 100%;
                aspect-ratio: 1 / 1.414;
                background-color: white;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                box-shadow: 8px 2px 4px rgba(0,0,0,.0625);
                margin: 1.5rem auto 0;
                &.horizontal {
                    aspect-ratio: 1.414 / 1;
                }
            }
        }
        h3 {
            font-size: 1.25rem;
            margin: 0;
        }
        .article {
            flex: 0 0 22.5%;
            .articel-wrapper {
                background: white;
                padding: 1.5rem 1.25rem;
                div {
                    color: $color-sky;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1.125rem;
                }
            }
        }
        &-bottom {
            height: 20px;
            background: linear-gradient(179deg, #DBBEA2 0%, #D4B79B 26.00%, #C3A587 64.00%, #AE8E6F 100%);
            border-top: 2px solid #dbc3a4;
            border-bottom: 2px solid #7d6f5e;
            border-radius: 4px;
            margin-bottom: 5rem;
            &:before,
            &:after {
                content: '';
                display: block;
                width: 90%;
                height: 2.5rem;
                position: relative;
                top: 18px;
                left: 5%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
                opacity: 0.125;
                transform: skewX( -45deg );
            }
            &:after {
                transform: skewX( 45deg );
                top: calc(-2.5rem + 18px);
                left: 8%;
            }
        }
    }
    .carousel {
        padding: 0 5rem;
        .slick-slide {
            text-align: center;
            font-size: .875rem;
        }
        img {
            position: relative;
            width: 11.25rem;
            box-shadow: 8px 2px 4px rgba(0,0,0,.0625);
        }
        .slick-dots {
            bottom: 1rem;
            li {
                button {
                    width: 1.125rem;
                    height: 1.125rem;
                    background: white;
                    color: transparent;
                    border-radius: 50%;
                    &:before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background: $color-violet;
                    }
                }
            }
        }
    }
}

.detail {
    height: 100%;
    background: #e6e6e6;
    border-width: .625rem 0 0 0;
    border-style: solid;
    box-shadow: $inset-shaddow;
    &.love {
        $color: $color-red;
        border-color: $color;
        background: linear-gradient(180deg, rgba(233,190,189,1) 0%, rgba(242,223,223,1) 72%, rgba(255,243,243,1) 73%, rgba(254,235,235,1) 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .label {
            background: $color;
        }
    }
    &.learn {
        $color: $color-yellow;
        border-color: $color;
        background: linear-gradient(180deg, #FFDAB1 0%, rgba(223,223,223,1) 72%, rgba(243,243,243,1) 73%, #F2EADF 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .label {
            background: $color;
        }
    }
    &.letter {
        $color: $color-green;
        border-color: $color;
        background: linear-gradient(180deg, #E9F9C6 0%, rgba(223,223,223,1) 72%, rgba(243,243,243,1) 73%, #EBF3DA 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .label {
            background: $color;
        }
    }
    &.postcard {
        $color: $color-mint;
        border-color: $color;
        background: linear-gradient(180deg, #C2F2E9 0%, rgba(223,223,223,1) 72%, rgba(243,243,243,1) 73%, #E2F9F4 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .label {
            background: $color;
        }
        .evenly {
            .image-wrapper {
                img:not(.light) {
                    bottom: 10rem;
                    width: 90%;
                }
            }
        }
    }
    &.visitor {
        $color: $color-sky;
        border-color: $color;
        background: linear-gradient(0deg, #E7FAFF 0%, #C6E9F2 100%);
        > .back {
            svg path {
                fill: $color;
            }
        }
        .label {
            background: $color;
        }
    }
    > .back {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
        svg {
            width: 100%;
        }
    }
    .carousel,
    .slick-list,
    .slick-track {
        height: 100%;
    }
    .slick-prev,
    .slick-next {
        top: 50%;
        width: 4.5rem;
        height: 4.5rem;
    }
    .slick-prev {
        left: 2rem;
    }
    .slick-next {
        right: 2rem;
    }
    .wrapper {
        width: $container-size;
        height: 100%;
        margin: 0 auto;
    }
    .evenly {
        height: 100%;
        > div {
            width: 50%;
            height: 100%;
            padding: 0 2rem;
        }
        .image-wrapper {
            position: relative;
            height: calc(100% - 100px);
            background-image: url("../images/img_bg.svg");
            background-repeat: repeat-x;
            box-shadow: 0 2px 4px rgba(0,0,0,.375);
            padding: 0 5rem;
            z-index: 2;
            &-bottom {
                position: relative;
                z-index: 1;
                transform: translateY(-50%);
                background: radial-gradient(circle, rgba(141,117,108,1) 35%, rgba(215,196,186,1) 55%, rgba(255,255,255,0) 75%);
                width: 120%;
                left: -10%;
                padding-bottom: 120%;
                transform: scaleY(  .0625 ) translateY(-50%);
                transform-origin: top center;
                border-radius: 9999px;
            }
            .light {
                position: relative;
                z-index: 2;
                width: 100%;
                margin: 0 auto;
            }
            img:not(.light) {
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
                width: 75%;
                z-index: 1;
            }
        }
        .logo {
            height: 5.625rem;
            margin: 5.5rem 0 6.75rem
        }
    }
    .info {
        .flex{
            margin-bottom: 1.25rem;
            strong {
                font-size: 1.75rem;
            }
        }
    }
    .label {
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        flex-shrink: 0;
        min-width: 8.25rem;
        text-align: center;
        padding: .75rem 1.5rem;
        margin-right: 1.5rem;
        & + h3 {
            font-size: 1.75rem;
            margin: 0;
        }
        & + p {
            line-height: 150%;
            margin: 0;
            padding: .875rem 0 0;
        }
    }
}

.blocker {
    z-index: 11;
}
.modal {
    background: transparent;
    box-shadow: none;
    max-width: max-content;
    width: inital;
    a.close-modal {
        position: fixed;
        top: 1rem;
        right: 1rem;
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_36_27425)'%3E%3Cpath d='M38.2041 33.2055L61.585 9.82462C62.199 9.21057 62.199 8.21079 61.585 7.59674L58.2471 4.25887C57.633 3.64483 56.6333 3.64483 56.0192 4.25887L32.725 27.5531L9.4307 4.25887C8.81665 3.64483 7.81687 3.64483 7.20282 4.25887L3.86495 7.59674C3.25091 8.21079 3.25091 9.21057 3.86495 9.82462L27.2458 33.2055L3.86495 56.5863C3.25091 57.2004 3.25091 58.2002 3.86495 58.8142L7.20282 62.1521C7.81687 62.7661 8.81665 62.7661 9.4307 62.1521L32.725 38.8578L56.0192 62.1521C56.6333 62.7661 57.633 62.7661 58.2471 62.1521L61.585 58.8142C62.199 58.2002 62.199 57.2004 61.585 56.5863L38.2041 33.2055Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_36_27425' x='0.404419' y='0.79834' width='70.6411' height='70.8145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_36_27425'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_36_27425' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
    }
}

@media (max-width: 1440px) {
    $margin: 3.75rem;
    .main {
        section {
            .wrapper {
                width: 100%;
                h2 {
                    img {
                        height: 100px;
                    }
                }
                .flex {
                    padding: 0 $margin;
                    article {
                        img {
                            width: 71%;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        header,
        footer > .flex {
            width: 100%;
            padding-left: $margin;
            padding-right: $margin;
        }
    }
    .sub {
        .wrapper {
            width: 100%;
            padding: 0 4rem;
            .logo {
                height: 3.5rem;
            }
            .title {
                height: 1.75rem;
            }
            p {
                font-size: .875rem;
            }
        }
    }
    .detail {
        .wrapper {
            width: 100%;
            padding: 0 4rem;
        }
    }
}

@media (max-width: 1280px) {
    .detail {
        .wrapper {
            .evenly {
                > div {
                    &:first-of-type {
                        padding: 0;
                    }
                }
                .logo {
                    height: 5rem;
                }
                .label {
                    font-size: 1.25rem;
                    min-width: 7.375rem;
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .sub.invite {
        .wrapper {
            width: 100%;
        }
    }
    footer {
        .flex {
            img {
                width: 8rem;
            }
            ul {
                font-size: 11px;
                margin-left: 1rem;
                padding-left: 1rem;
            }
        }
        .logos {
            a {
                margin-left: 1rem;
            }
            img {
                width: initial;
                height: 1.25rem;
            }
        }
    }
    .sub {
        .wrapper {
            .logo {
                height: 4rem;
            }
            .title {
                height: 2rem;
            }
            p {
                font: 1rem;
            }
            .evenly {
                > div {
                    width: 70%;
                }
                .menu-image {
                    width: 30%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .detail {
        .back {
            z-index: 5;
        }
        .wrapper {
            padding: 0 2rem;
            .evenly {
                > div {
                    width: 40%;
                    &:first-of-type {
                        width: 60%
                    }
                }
                .logo {
                    width: 100%;
                    height: initial;
                }
                .label {
                    font-size: 1rem;
                    min-width: 6rem;
                    padding: .5rem 1rem;
                    margin-bottom: .5rem;
                    & +  h3 {
                        font-size: 1.5rem;
                    }
                }
                .info {
                    .flex {
                        flex-direction: column;
                        align-items: start;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        max-height: 100%;
        header {
            height: 4rem;
            justify-content: center !important;
            padding: .75rem 0;
            h2 {
                display: block;
                margin: 0;
                img {
                    height: 100%;
                }
            }
            .flex {
                display: none;
            }
        }
        section {
            height: calc(100% - 7rem);
            .wrapper {
                display: block;
                top: 0;
                width: 100%;
                height: 100%;
                aspect-ratio: initial;
                h2 {
                    display: none;
                }
                .flex {
                    flex-wrap: wrap;
                    height: 25%;
                    width: 100%;
                    position: initial;
                    padding: 0 1rem;
                    &:last-of-type {
                        height: 50%;
                        article {
                            height: 50%;
                        }
                    }
                    article {
                        width: 50%;
                        animation-delay: 0s !important;
                        &:after {
                            display: none;
                        }
                        h3 {
                            position: relative;
                            height: 100%;
                            margin: 0;
                            padding-top: 1.5rem;
                        }
                        img {
                            position: relative;
                            display: block;
                            transform: none;
                            top: initial;
                            left: initial;
                            &:first-of-type {
                                position: absolute;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 80%;
                            }
                            &:last-of-type {
                                // display: none;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            article {
                background: none;
                &:before {
                    display: none;
                }
            }
        }
        footer {
            height: 3rem;
            padding: 0;
            >.align-center {
                display: none;
            }
            > .flex:not(.align-center) {
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                padding: 0;
                a {
                    width: 50%;
                    color: #333;
                    font-size: 1rem;
                    text-align: center;
                    text-decoration: none;
                    br {
                        display: none;
                    }
                    &:last-of-type {
                        border-left: 1px solid #aaa;
                    }
                }
            }
        }
    }
    .sub {
        .wrapper {
            padding: 0 2rem;
            .logo {
                display: none;
            }
            .title {
                height: 2rem;
            }
            p {
                font: 1rem;
            }
            .evenly {
                > div {
                    width: 100%;
                    &:first-of-type {
                        padding: 3rem 0 0 0;
                    }
                }
                .menu-image {
                    width: 25%;
                    position: absolute;
                    top: 1.5rem;
                    right: 2rem;
                }
            }
            .carousel {
                img {
                    box-shadow: none;
                }
            }
        }
    }
    .detail {
        .wrapper {
            padding: 0;
            overflow-x: hidden;
            overflow-y: auto;
            .evenly {
                display: block;
                > div {
                    width: 100% !important;
                    height: initial;
                    &:first-of-type {
                        height: 80%;
                    }
                }
                .logo {
                    display: none;
                }
                .image-wrapper {
                    height: 100%;
                    padding-bottom: 5rem;
                    .light {
                        width: 75%;
                    }
                }
                .info {
                    padding-top: 2.5rem;
                    padding-bottom: 2.5rem;
                }
            }
        }
        .slick-prev,
        .slick-next {
            width: 2.5rem;
            height: 2.5rem;
        }
        .slick-prev {
            left: .5rem;
        }
        .slick-next {
            right: .5rem;
        }
    }
}