
*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

@import "./intro.scss";

.flex {
    display: flex;
    &.between {
        justify-content: space-between;
    }
}

.main {
    height: 100%;
    background: linear-gradient(0deg, #b87598 10%, #703678 100%);
}

header {
    a {
        color: white;
        text-decoration: none;
        text-align: center;
    }
}

footer {
    background: #e6e6e6;
}