@import "../font/pretendard-subset.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Pretendard", sans-serif;
}

button {
  cursor: pointer;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
}
.flex.end {
  justify-content: end;
}
.flex.between {
  justify-content: space-between;
}
.flex.around {
  justify-content: space-around;
}
.flex.evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: start;
}
.flex.align-center {
  align-items: center;
}
.flex.vertical {
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 100%;
}
.intro > .flex {
  width: 1440px;
  gap: 4rem;
  margin: 0 auto;
}
.intro h1 {
  color: white;
  z-index: 100;
  margin: 0;
}
.intro h3 {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  text-decoration: overline;
  margin: 0;
  padding: 0;
}
.intro h3.has-line {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-decoration: none;
  letter-spacing: 0;
}
.intro h3.has-line:last-of-type {
  margin-top: 3rem;
}
.intro h3.has-line:after {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  background: #333;
}
.intro ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  list-style: none;
  font-size: 1rem;
  padding: 0;
}
.intro ul li {
  flex: 1 0 50%;
}
.intro .col small {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #666;
}
.intro .col > .flex {
  gap: 1.5rem;
}
.intro .col div .flex {
  align-items: center;
  gap: 1rem;
}
.intro .col div .flex .stadler {
  height: 2rem;
}
.intro .col div + div {
  margin-top: 1rem;
}
.intro .col:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .col a {
  display: inline-block;
  height: 100%;
  position: relative;
}
.intro .col a .flex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 2rem;
}
.intro .col a button {
  width: 11.25rem;
  border-radius: 9999px;
  border: none;
  background: #A01857;
  color: white;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 2;
  width: 1440px;
  margin: 0 auto;
  padding-top: 2.5rem;
}
header h2 {
  display: none;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

footer {
  position: relative;
  z-index: 2;
  background: #e6e6e6;
  color: #808080;
  padding: 0.5rem 0;
}
footer > .flex {
  width: 1440px;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  line-height: 150%;
  border-left: 1px solid #c2c2c2;
  font-size: 0.75rem;
  margin-left: 1.75rem;
  padding-left: 1.75rem;
}
footer ul a {
  color: #808080;
}
footer .logos {
  display: flex;
  align-items: center;
}
footer .logos a {
  text-decoration: none;
}
footer .logos a:not(:first-of-type) {
  margin-left: 2rem;
}
footer .logos img {
  height: 1.75rem;
}

.browser-info {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #D883A0 0%, #613270 100%);
  color: white;
}
.browser-info header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 1.5rem 0;
}
.browser-info header img {
  height: 2.75rem;
}
.browser-info .content {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.browser-info .content > .align-center {
  justify-content: center;
  gap: 10rem;
}
.browser-info p {
  font-size: 1.5rem;
  line-height: 150%;
  margin-bottom: 4rem;
}
.browser-info a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 150%;
}
.browser-info sub {
  font-size: 0.875rem;
  margin-top: 10rem;
}
.browser-info footer {
  background: transparent;
  text-align: center;
  padding: 2rem 0;
}
.browser-info footer .flex {
  display: inline-flex;
  gap: 1.5rem;
  width: auto;
  background: white;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
}
.browser-info footer .flex a {
  display: flex;
  align-items: center;
}

.button-event {
  width: 6rem;
  height: 6rem;
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  z-index: 6;
  border-radius: 9999px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.button-event img {
  width: 100%;
}

.pop-event {
  position: fixed;
  bottom: 0;
  right: 0;
  background: white;
  border-top: 0.875rem solid #6E89D8;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 7;
  padding: 1.75rem 2rem;
  transform: translateY(100%);
  transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.pop-event.is-shown {
  transform: translateY(0);
}
.pop-event button {
  cursor: pointer;
}
.pop-event .between {
  margin-bottom: 1rem;
}
.pop-event .between h4 {
  font-size: 1.5rem;
  color: #6E89D8;
  padding: 0.5rem 0 0.5rem 5rem;
  background: url("data:image/svg+xml,%3Csvg width='69' height='33' viewBox='0 0 69 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_195_23361)'%3E%3Cpath d='M27.89 1.15039H4.97002C2.8603 1.15039 1.15002 2.86066 1.15002 4.97039V27.8904C1.15002 30.0001 2.8603 31.7104 4.97002 31.7104H27.89C29.9998 31.7104 31.71 30.0001 31.71 27.8904V4.97039C31.71 2.86066 29.9998 1.15039 27.89 1.15039Z' stroke='%234068B4' stroke-width='2.29' stroke-miterlimit='10'/%3E%3Cpath d='M63.36 1.15039H40.44C38.3303 1.15039 36.62 2.86066 36.62 4.97039V27.8904C36.62 30.0001 38.3303 31.7104 40.44 31.7104H63.36C65.4697 31.7104 67.18 30.0001 67.18 27.8904V4.97039C67.18 2.86066 65.4697 1.15039 63.36 1.15039Z' stroke='%234068B4' stroke-width='2.29' stroke-miterlimit='10'/%3E%3Cpath d='M23.96 10.8597V20.7397C23.96 21.4797 23.34 21.8197 22.73 21.8197C22.12 21.8197 21.47 21.4897 21.47 20.7397V11.6997C21.47 11.3097 21.35 11.1597 20.95 11.1597H10.02C9.40001 11.1597 9.13 10.6697 9.13 10.0597C9.13 9.44969 9.40001 8.92969 10.02 8.92969H22.07C23.5 8.92969 23.97 9.38969 23.97 10.8497L23.96 10.8597Z' fill='%234068B4'/%3E%3Cpath d='M48.13 9.67961V18.6896C48.13 19.0996 48.28 19.2296 48.65 19.2296H59.42C60.01 19.2296 60.28 19.7396 60.28 20.3296C60.28 20.9196 60.01 21.4296 59.42 21.4296H47.52C46.09 21.4296 45.62 20.9696 45.62 19.5096V9.67961C45.62 8.93961 46.24 8.59961 46.88 8.59961C47.52 8.59961 48.14 8.92961 48.14 9.67961H48.13Z' fill='%234068B4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_195_23361'%3E%3Crect width='68.32' height='32.85' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat left center;
  margin: 0;
  margin-right: 4rem;
}
.pop-event .between .close {
  width: 2rem;
  height: 2rem;
  background: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.75861' width='45.5962' height='2.48707' transform='rotate(45 1.75861 0)' fill='%23D9D9D9'/%3E%3Crect y='32.2412' width='45.5962' height='2.48707' transform='rotate(-45 0 32.2412)' fill='%23D9D9D9'/%3E%3C/svg%3E%0A") no-repeat center;
  border: none;
  text-indent: -9999px;
}
.pop-event p {
  color: #848484;
  line-height: 150%;
  text-align: center;
}
.pop-event p.desc {
  font-size: 0.75rem;
}
.pop-event hr {
  border: none;
  height: 1px;
  background: #bfbfbf;
  margin: 2rem 0 1.5rem;
}
.pop-event .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.pop-event .row > div {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  color: transparent;
  font-size: 2.5rem;
  font-weight: 600;
}
.pop-event .row > div.is-active {
  color: #6E89D8;
}
.pop-event .row > div.blank {
  margin-right: 1rem;
}
.pop-event .row > div.comma:after {
  position: absolute;
  right: -1rem;
  color: #f5f5f5;
  content: ",";
  font-size: 2.5rem;
}
.pop-event input,
.pop-event textarea {
  width: 100%;
  display: block;
  border: 1px solid #848484;
  border-radius: 1.25rem;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  resize: none;
}
.pop-event label {
  width: 100%;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
}
.pop-event label input {
  width: initial;
  margin-right: 0.5rem;
}
.pop-event ul {
  list-style: none;
  font-size: 0.75rem;
  border: 1px solid #bfbfbf;
  border-width: 1px 0;
  color: #424242;
  text-align: center;
  padding: 0.5rem 0;
  line-height: 150%;
}
.pop-event .submit {
  background: #6E89D8;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 2rem;
  margin-top: 1rem;
}
.pop-event.result {
  top: 50%;
  left: 50%;
  right: initial;
  bottom: initial;
  transform: translate(-50%, -50%);
  width: 48.75rem;
  border: none;
  box-shadow: none;
}
.pop-event.result button.close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg clip-path='url(%23clip0_285_2743)'%3E%3Cpath d='M48 0H0V48H48V0Z' fill='%23919395'/%3E%3Cpath d='M38.8492 37.4356L10.5649 9.15137L9.15073 10.5656L37.435 38.8499L38.8492 37.4356Z' fill='white'/%3E%3Cpath d='M10.5639 38.8487L38.8481 10.5645L37.4339 9.15024L9.14966 37.4345L10.5639 38.8487Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_285_2743'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  border: none;
  text-indent: -9999px;
}
.pop-event.result p {
  color: #333;
  font-size: 1rem;
}
.pop-event.result .flex.align-center {
  padding: 2rem 0;
  border-bottom: 1px dashed #b4b4b4;
}
.pop-event.result .flex.center {
  margin-bottom: 2.5rem;
}
.pop-event.result .flex.center img {
  width: 21rem;
}
.pop-event.result .flex img {
  width: 10rem;
  margin-right: 1.75rem;
}
.pop-event.result .flex > div {
  font-size: 1rem;
  transform: translateY(-0.5rem);
}
.pop-event.result .flex > div .flex {
  gap: 0.375rem 1rem;
  flex-wrap: wrap;
}
.pop-event.result strong {
  display: block;
  margin-bottom: 0.5rem;
}
.pop-event.result label {
  margin-top: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(0deg, #E166A6 0%, #1DABB9 100%);
}
.main > svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 8rem;
  border: 1px solid white;
  z-index: 100;
}
.main header,
.main footer {
  flex: 0 0 auto;
  z-index: 6;
}
.main section {
  flex-grow: 1;
}
.main section .wrapper {
  position: relative;
  height: 100%;
  width: 1440px;
  aspect-ratio: 16/6;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}
.main section .wrapper > .flex {
  position: relative;
  top: 45%;
  width: 100%;
  height: 100%;
}
.main section .wrapper > .flex:last-of-type {
  width: 104%;
  margin-left: -2%;
}
.main section .wrapper > .flex:not(:first-of-type) {
  margin-top: -25rem;
}
.main section .wrapper h2 {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.main section .wrapper h2 img {
  width: 85%;
  margin: 0 auto;
}
.main section .wrapper h2 span {
  opacity: 0;
}
.main section article {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  background: linear-gradient(90deg, #fff 0%, #e9e9e9 22%, #dcdcdc 41%, #c8c8c8 70%, #ccc 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}
.main section article.for-mobile {
  display: none;
}
.main section article:before {
  content: "";
  display: inline-block;
  width: 100%;
  aspect-ratio: 1/0.309;
  background-image: url("data:image/svg+xml,%3Csvg width='353' height='109' viewBox='0 0 353 109' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.321289 51.917V56.2862C0.321289 84.9617 79.2706 108.203 176.661 108.203C274.051 108.203 353 84.9617 353 56.2862V51.917H0.321289Z' fill='url(%23paint0_linear_16_18)'/%3E%3Cpath d='M176.661 103.834C274.05 103.834 353 80.5898 353 51.9169C353 23.244 274.05 0 176.661 0C79.2711 0 0.321289 23.244 0.321289 51.9169C0.321289 80.5898 79.2711 103.834 176.661 103.834Z' fill='url(%23paint1_linear_16_18)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_16_18' x1='0.697632' y1='80.0601' x2='353.367' y2='80.0601' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='0.54' stop-color='%23E9E9E9'/%3E%3Cstop offset='0.87' stop-color='%23CFCFCF'/%3E%3Cstop offset='1' stop-color='%23C5C5C5'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_16_18' x1='176.661' y1='106.349' x2='176.661' y2='-84.4292' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F8F8F8'/%3E%3Cstop offset='0.99' stop-color='%23F0F0F0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.1)) drop-shadow(0 -1px 0 white);
  transform: translateY(-50%);
}
.main section article img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.main section article img:first-of-type:not(:last-of-type) {
  z-index: 2;
  transform: translate(-50%, -310%);
}
.main section article.article-01 {
  animation-delay: calc(1 * 0.0675s);
}
.main section article.article-02 {
  animation-delay: calc(2 * 0.0675s);
}
.main section article.article-03 {
  animation-delay: calc(3 * 0.0675s);
}
.main section article.article-04 {
  animation-delay: calc(4 * 0.0675s);
}
.main section article.article-05 {
  animation-delay: calc(5 * 0.0675s);
}
.main section article.article-06 {
  animation-delay: calc(6 * 0.0675s);
}
.main section article.article-07 {
  animation-delay: calc(7 * 0.0675s);
}
@keyframes SlideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slick-prev,
.slick-next {
  top: calc(50% + 29px);
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.slick-prev:hover, .slick-prev:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center/contain;
}

.slick-next:hover, .slick-next:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center/contain;
}

.slick-prev:focus, .slick-next:focus {
  outline: 1px solid blue;
}

.video {
  width: 100%;
  margin: 0 auto;
}
.video .video-container {
  position: relative;
  width: 56.25%;
  height: 0;
  padding-top: 100%;
  margin: 6.5rem auto 0;
}
.video .video-container iframe {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}
.video .video-container:after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 150%;
  margin-left: -25%;
  background-position: bottom center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/youtube_bg.png");
  padding-top: 100%;
  bottom: -32%;
}

.sub {
  height: 100%;
  background: #e6e6e6;
  overflow-y: auto;
  padding-bottom: 4rem;
}
.sub > section {
  position: relative;
  z-index: 2;
}
.sub::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
.sub::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 9999px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.sub.love {
  border-color: #E87A91;
  background: linear-gradient(0deg, #fff 50%, rgba(232, 122, 145, 0.3) 100%);
}
.sub.love > .back svg path {
  fill: #E87A91;
}
.sub.love .image-wrapper {
  border-color: #E87A91;
}
.sub.learn {
  border-color: #00A5B5;
  background: linear-gradient(0deg, #fff 50%, rgba(0, 165, 181, 0.3) 100%);
}
.sub.learn > .back svg path {
  fill: #00A5B5;
}
.sub.learn .image-wrapper {
  border-color: #00A5B5;
}
.sub.letter {
  border-color: #6E89D8;
  background: linear-gradient(0deg, #fff 50%, rgba(110, 137, 216, 0.3) 100%);
}
.sub.letter > .back svg path {
  fill: #6E89D8;
}
.sub.letter .image-wrapper {
  border-color: #6E89D8;
}
.sub.postcard {
  border-color: #B471DC;
  background: linear-gradient(0deg, #fff 50%, rgba(180, 113, 220, 0.3) 100%);
}
.sub.postcard > .back svg path {
  fill: #B471DC;
}
.sub.postcard .image-wrapper {
  border-color: #B471DC;
}
.sub.visitor {
  border-color: #FF9500;
  background: linear-gradient(0deg, #fff 50%, rgba(255, 149, 0, 0.3) 100%);
}
.sub.visitor > .back svg path {
  fill: #FF9500;
}
.sub.visitor .evenly > div:last-of-type {
  padding-right: 5rem;
}
.sub.visitor .input-wrapper {
  background: #FF9500;
  text-align: center;
  padding: 1rem 1.25rem;
}
.sub.visitor .input-wrapper input,
.sub.visitor .input-wrapper textarea {
  width: 100%;
  font-size: 1.125rem;
  font-family: "Pretendard", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
}
.sub.visitor .input-wrapper input + span,
.sub.visitor .input-wrapper textarea + span {
  color: white;
  flex-shrink: 0;
}
.sub.visitor .input-wrapper input::-moz-placeholder, .sub.visitor .input-wrapper textarea::-moz-placeholder {
  color: #c3c3c3;
}
.sub.visitor .input-wrapper input::placeholder,
.sub.visitor .input-wrapper textarea::placeholder {
  color: #c3c3c3;
}
.sub.visitor .input-wrapper textarea {
  resize: none;
  width: 100%;
  margin: 0.75rem 0 0;
}
.sub.visitor .input-wrapper .end {
  color: white;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.sub.visitor .input-wrapper button {
  display: inline-block;
  background: #DCD7C0;
  color: #333;
  border: none;
  font-size: 1.125rem;
  padding: 0.5rem 2.5rem;
}
.sub.invite {
  border-color: #736357;
  background: linear-gradient(0deg, #fff 50%, rgba(115, 99, 87, 0.3) 100%);
  overflow-y: auto;
}
.sub.invite > .back svg path {
  fill: #736357;
}
.sub.invite .wrapper {
  width: 1024px;
  padding-bottom: 5rem;
}
.sub.invite .wrapper .evenly {
  flex-grow: 0;
  margin-bottom: 4rem;
}
.sub.invite .wrapper .evenly > div:first-of-type {
  padding: 0 5rem 0 0;
}
.sub.invite .wrapper .evenly + div {
  font-size: 1.25rem;
  line-height: 150%;
}
.sub.invite .wrapper .evenly + div h4 {
  color: #736357;
  margin-bottom: 0;
}
.sub.invite .input-wrapper {
  text-align: center;
  padding: 1rem 1.25rem;
}
.sub.invite .input-wrapper img {
  width: 100%;
  margin-bottom: 2rem;
}
.sub.invite .input-wrapper div {
  margin-bottom: 0.5rem;
}
.sub.invite .carousel {
  padding: 0;
}
.sub.invite .carousel .slick-prev,
.sub.invite .carousel .slick-next {
  top: 50%;
}
.sub.invite .carousel .slick-prev {
  left: 1rem;
}
.sub.invite .carousel .slick-next {
  right: 1rem;
}
.sub.invite .align-right {
  font-size: 1rem;
  margin-bottom: 4rem;
}
.sub.invite .align-right strong {
  display: block;
}
.sub.invite h4 {
  color: #736357;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
.sub.event {
  border-color: #8F81E9;
  background: linear-gradient(0deg, #fff 50%, rgba(143, 129, 233, 0.3) 100%);
  overflow-y: auto;
}
.sub.event > .back svg path {
  fill: #8F81E9;
}
.sub.event .wrapper {
  width: 1024px;
  padding-bottom: 5rem;
}
.sub.event .wrapper .evenly {
  flex-grow: 0;
  margin-bottom: 4rem;
}
.sub.event .wrapper .evenly > div:first-of-type {
  padding: 0 5rem 0 0;
}
.sub.event .wrapper .evenly > div:first-of-type p + p {
  margin-top: 3rem;
}
.sub.event .wrapper .evenly + div {
  font-size: 1.25rem;
  line-height: 150%;
}
.sub.event .wrapper .evenly + div h4 {
  margin-bottom: 0;
}
.sub.event .input-wrapper {
  background: #8F81E9;
  text-align: center;
  padding: 1rem 1.25rem;
}
.sub.event .input-wrapper input,
.sub.event .input-wrapper textarea {
  width: 100%;
  font-size: 1.125rem;
  font-family: "Pretendard", sans-serif;
  padding: 0.5rem 1rem;
  border: none;
}
.sub.event .input-wrapper input + span,
.sub.event .input-wrapper textarea + span {
  color: white;
  flex-shrink: 0;
}
.sub.event .input-wrapper input::-moz-placeholder, .sub.event .input-wrapper textarea::-moz-placeholder {
  color: #c3c3c3;
}
.sub.event .input-wrapper input::placeholder,
.sub.event .input-wrapper textarea::placeholder {
  color: #c3c3c3;
}
.sub.event .input-wrapper textarea {
  resize: none;
  width: 100%;
  margin: 0.75rem 0 0;
}
.sub.event .input-wrapper .end {
  color: white;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}
.sub.event .input-wrapper button {
  display: inline-block;
  background: #DCD7C0;
  color: #333;
  border: none;
  font-size: 1.125rem;
  padding: 0.5rem 2.5rem;
}
.sub.event .guide {
  align-items: stretch;
  gap: 3%;
  margin: 2rem 0 2.5rem;
}
.sub.event .guide div {
  flex: 0 0 25%;
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  background: #8F81E9;
  border-radius: 9999px;
  color: white;
  height: 0;
  padding-bottom: 25%;
}
.sub.event .guide div span {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub.event .guide div:after {
  position: absolute;
  top: 50%;
  right: -22.5%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 11px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='22' viewBox='0 0 11 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 11L3.59221e-07 9.67048e-07L-1.56408e-06 22L11 11Z' fill='%23999999'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}
.sub.event .guide div:last-of-type:after {
  display: none;
}
.sub.event p + p {
  margin-bottom: 4rem;
}
.sub.event .carousel {
  padding: 0;
}
.sub.event .carousel .slick-prev,
.sub.event .carousel .slick-next {
  top: 50%;
}
.sub.event .carousel .slick-prev {
  left: 1rem;
}
.sub.event .carousel .slick-next {
  right: 1rem;
}
.sub.event .flex.vertical.align-center {
  flex: 0 1 25%;
}
.sub.event .flex.vertical.align-center img {
  width: 100%;
}
.sub.event .flex.vertical.align-center span {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 2rem;
}
.sub > .back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
  z-index: 3;
}
.sub > .back svg {
  width: 100%;
}
.sub section {
  height: 100%;
}
.sub .wrapper {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
}
.sub .wrapper img {
  display: block;
}
.sub .wrapper .logo {
  height: 5.625rem;
  margin-bottom: 3.25rem;
}
.sub .wrapper .title {
  height: 2.5rem;
  margin-bottom: 2.75rem;
}
.sub .wrapper p {
  font-size: 1.125rem;
  line-height: 140%;
}
.sub .wrapper .evenly {
  flex: 1;
  align-items: stretch;
  margin-bottom: 4rem;
  padding-top: 4rem;
  gap: 2rem;
}
.sub .wrapper .evenly > div {
  width: 50%;
}
.sub .wrapper .evenly .menu-image {
  display: flex;
  justify-content: flex-end;
}
.sub .wrapper .evenly .menu-image img {
  height: 100%;
}
.sub .list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.5rem;
  justify-content: flex-start;
  align-items: end;
  padding: 0 5rem;
}
.sub .list.last {
  justify-content: flex-start;
}
.sub .list > div {
  text-align: center;
  flex: 0 0 20%;
  font-size: 0.875rem;
  padding: 0 1rem;
}
.sub .list > div .image-wrapper {
  width: 100%;
  aspect-ratio: 1/1.3;
  background-color: #eaeaea;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 6px;
  border-style: solid;
  box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.0625);
  margin: 0 auto 1rem;
}
.sub .list > div .image-wrapper.horizontal {
  aspect-ratio: 1.414/1;
}
.sub .list h3 {
  font-size: 1.25rem;
  margin: 0;
}
.sub .list .article {
  flex: 0 0 33.3%;
}
.sub .list .article .articel-wrapper {
  height: 220px;
  background-image: url("data:image/svg+xml,%3Csvg width='328' height='228' viewBox='0 0 328 228' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_29_1107)'%3E%3Cpath d='M324 0L4 17L25 177.28L132.09 179.26L183.26 220L184.35 181.13L302 184.2L324 0Z' fill='url(%23paint0_linear_29_1107)'/%3E%3C/g%3E%3Cpath d='M14.7202 19.49C14.7202 16.43 15.0602 13.68 15.7502 11.25C16.4402 8.82 17.6002 6.79 19.2402 5.15C20.8802 3.51 23.0402 2.25 25.7402 1.35C28.4302 0.45 31.8402 0 35.9602 0H37.7002V10.14H35.0102C32.9002 10.14 31.2102 10.8 29.9402 12.12C28.6702 13.44 28.0402 15.47 28.0402 18.22V18.85H37.7002V41.19H14.7202V19.48V19.49ZM44.0302 19.49C44.0302 16.43 44.3702 13.68 45.0602 11.25C45.7502 8.82 46.9102 6.79 48.5502 5.15C50.1902 3.51 52.3502 2.25 55.0502 1.35C57.7402 0.45 61.1502 0 65.2702 0H67.0102V10.14H64.3202C62.2102 10.14 60.5202 10.8 59.2502 12.12C57.9802 13.44 57.3502 15.47 57.3502 18.22V18.85H67.0102V41.19H44.0402V19.48L44.0302 19.49Z' fill='%23FF9500'/%3E%3Cpath d='M312.65 179.13C312.65 181.51 312.39 183.64 311.85 185.52C311.32 187.4 310.42 188.98 309.15 190.25C307.88 191.52 306.2 192.5 304.11 193.2C302.02 193.9 299.38 194.25 296.18 194.25H294.83V186.38H296.92C298.56 186.38 299.87 185.87 300.85 184.84C301.83 183.81 302.32 182.24 302.32 180.11V179.62H294.82V162.29H312.64V179.13H312.65ZM289.91 179.13C289.91 181.51 289.65 183.64 289.11 185.52C288.58 187.4 287.68 188.98 286.41 190.25C285.14 191.52 283.46 192.5 281.37 193.2C279.28 193.9 276.64 194.25 273.44 194.25H272.09V186.38H274.18C275.82 186.38 277.13 185.87 278.11 184.84C279.09 183.81 279.58 182.24 279.58 180.11V179.62H272.08V162.29H289.9V179.13H289.91Z' fill='%23666666'/%3E%3Cdefs%3E%3Cfilter id='filter0_d_29_1107' x='0' y='0' width='328' height='228' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_29_1107'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_29_1107' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_29_1107' x1='-39.09' y1='264.48' x2='642.53' y2='-317.02' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.12' stop-color='%23F7F7F7'/%3E%3Cstop offset='0.93' stop-color='%23D2D3D4'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5rem 4.25rem;
}
.sub .list .article .articel-wrapper div {
  color: #FF9500;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.sub .list .article .articel-wrapper p {
  font-size: 1.125rem;
  text-align: left;
  margin: 0;
}
.sub .list-bottom {
  height: 20px;
  background: linear-gradient(179deg, #DBBEA2 0%, #D4B79B 26%, #C3A587 64%, #AE8E6F 100%);
  border-top: 2px solid #dbc3a4;
  border-bottom: 2px solid #7d6f5e;
  border-radius: 4px;
  margin-bottom: 5rem;
}
.sub .list-bottom:before, .sub .list-bottom:after {
  content: "";
  display: block;
  width: 90%;
  height: 2.5rem;
  position: relative;
  top: 18px;
  left: 5%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  opacity: 0.125;
  transform: skewX(-45deg);
}
.sub .list-bottom:after {
  transform: skewX(45deg);
  top: calc(-2.5rem + 18px);
  left: 8%;
}
.sub .carousel {
  padding: 0 5rem;
}
.sub .carousel .slick-slide {
  text-align: center;
  font-size: 0.875rem;
}
.sub .carousel img {
  position: relative;
  width: 11.25rem;
  box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.0625);
}
.sub .carousel .slick-dots {
  bottom: 1rem;
}
.sub .carousel .slick-dots li button {
  width: 1.125rem;
  height: 1.125rem;
  background: white;
  color: transparent;
  border-radius: 50%;
}
.sub .carousel .slick-dots li button:before {
  display: none;
}
.sub .carousel .slick-dots li.slick-active button {
  background: #B471DC;
}

.detail {
  height: 100%;
  background: linear-gradient(180deg, #cbcbcb 0%, #cecece 65%, #dbdbdc 65.1%, #b0b4b7 100%);
}
.detail:after {
  position: absolute;
  bottom: 0;
  z-index: 1;
  content: "";
  display: inline-block;
  width: 100%;
  height: 35%;
  background: url("../images/img_detail_bg.png") no-repeat center right 1rem;
}
.detail.love {
  border-color: #E87A91;
}
.detail.love > .back svg path {
  fill: #E87A91;
}
.detail.love .label {
  background: #E87A91;
}
.detail.learn {
  border-color: #00A5B5;
}
.detail.learn > .back svg path {
  fill: #00A5B5;
}
.detail.learn .label {
  background: #00A5B5;
}
.detail.letter {
  border-color: #6E89D8;
}
.detail.letter > .back svg path {
  fill: #6E89D8;
}
.detail.letter .label {
  background: #6E89D8;
}
.detail.postcard {
  border-color: #B471DC;
}
.detail.postcard > .back svg path {
  fill: #B471DC;
}
.detail.postcard .label {
  background: #B471DC;
}
.detail.postcard .evenly .image-wrapper img:not(.light) {
  bottom: 10rem;
  width: 90%;
}
.detail > .back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
}
.detail > .back svg {
  width: 100%;
}
.detail .carousel,
.detail .slick-list,
.detail .slick-track {
  height: 100%;
  z-index: 2;
}
.detail .slick-prev,
.detail .slick-next {
  top: 50%;
  width: 4.5rem;
  height: 4.5rem;
}
.detail .slick-prev {
  left: 2rem;
}
.detail .slick-next {
  right: 2rem;
}
.detail .wrapper {
  height: 100%;
  margin: 0 auto;
}
.detail .evenly {
  height: 100%;
  gap: 2rem;
}
.detail .evenly > div:not(.info) {
  flex: 0 1 40%;
}
.detail .evenly > div {
  height: 100%;
}
.detail .evenly .info {
  flex-grow: 1;
  padding-right: 5rem;
}
.detail .evenly .image-area {
  display: flex;
  justify-content: center;
}
.detail .evenly .image-area svg {
  height: 100%;
}
.detail .evenly .image-area svg rect {
  background-position: center;
  background-size: contain;
}
.detail .evenly .image-wrapper {
  position: relative;
  height: 100%;
  background-image: url("../images/img_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 4rem;
  z-index: 2;
}
.detail .evenly .image-wrapper.horizontal {
  background-image: url("../images/img_bg_horizontal.svg");
}
.detail .evenly .image-wrapper.horizontal img {
  top: 16%;
  height: 48%;
}
.detail .evenly .image-wrapper img {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  aspect-ratio: 1/1.414;
  z-index: 1;
}
.detail .evenly .image-wrapper a:focus {
  outline: 1px solid blue;
}
.detail .evenly .logo {
  height: 5rem;
  margin: 6.5rem 0 2.5rem;
}
.detail .info {
  display: flex;
}
.detail .info .flex {
  margin-bottom: 1.25rem;
}
.detail .info .flex strong {
  font-size: 1.75rem;
}
.detail .label {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  flex-shrink: 0;
  min-width: 8.25rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  margin-right: 1.5rem;
}
.detail .label + h3 {
  font-size: 1.75rem;
  margin: 0;
}
.detail .label + p {
  font-size: 1.75rem;
  line-height: 150%;
  margin: 0;
  padding: 0.5rem 0 0;
}

.blocker {
  z-index: 11;
}

.modal {
  background: transparent;
  box-shadow: none;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 100%;
  max-height: 100%;
  width: inital;
  padding: 0;
}
.modal a.close-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_36_27425)'%3E%3Cpath d='M38.2041 33.2055L61.585 9.82462C62.199 9.21057 62.199 8.21079 61.585 7.59674L58.2471 4.25887C57.633 3.64483 56.6333 3.64483 56.0192 4.25887L32.725 27.5531L9.4307 4.25887C8.81665 3.64483 7.81687 3.64483 7.20282 4.25887L3.86495 7.59674C3.25091 8.21079 3.25091 9.21057 3.86495 9.82462L27.2458 33.2055L3.86495 56.5863C3.25091 57.2004 3.25091 58.2002 3.86495 58.8142L7.20282 62.1521C7.81687 62.7661 8.81665 62.7661 9.4307 62.1521L32.725 38.8578L56.0192 62.1521C56.6333 62.7661 57.633 62.7661 58.2471 62.1521L61.585 58.8142C62.199 58.2002 62.199 57.2004 61.585 56.5863L38.2041 33.2055Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_36_27425' x='0.404419' y='0.79834' width='70.6411' height='70.8145' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_36_27425'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_36_27425' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.modal a.close-modal:focus {
  outline: 1px solid blue;
}
.modal img {
  height: 100%;
}

@media (max-width: 1600px) {
  .detail .flex .info {
    flex-direction: column;
  }
  .detail .flex .info .video {
    width: 50%;
  }
  .detail .flex .info .video .video-container {
    margin: 1rem auto;
  }
}
@media (max-width: 1440px) {
  .main section .wrapper {
    width: 100%;
  }
  .main section .wrapper h2 img {
    height: 100px;
  }
  .main section .wrapper .flex {
    padding: 0 3.75rem;
  }
  .main section .wrapper .flex article img {
    width: 71%;
    margin: 0 auto;
  }
  .main header,
  .main footer > .flex {
    width: 100%;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .sub .wrapper {
    width: 100%;
    padding: 0 4rem;
  }
  .sub .wrapper .logo {
    height: 3.5rem;
  }
  .sub .wrapper .title {
    height: 1.75rem;
  }
  .sub .wrapper p {
    font-size: 0.875rem;
  }
  .sub .list {
    padding: 0 4rem;
  }
  .sub .list > div {
    flex: 0 0 17.5%;
  }
  .sub .list .article .articel-wrapper {
    padding: 1.5rem 3rem;
  }
  .detail .wrapper {
    width: 100%;
    padding: 0 4rem;
  }
  .detail .flex .info .video {
    width: 75%;
  }
}
@media (max-width: 1280px) {
  .sub .list > div {
    flex: 0 0 20%;
  }
  .sub .list .article .articel-wrapper {
    padding: 2.5rem 2rem;
  }
  .sub .list .article .articel-wrapper div {
    margin-bottom: 0.75rem;
  }
  .detail .wrapper .evenly > div:first-of-type {
    padding: 0;
  }
  .detail .wrapper .evenly .logo {
    height: 5rem;
  }
  .detail .wrapper .evenly .label {
    font-size: 1.25rem;
    min-width: 7.375rem;
  }
  .detail .flex .info {
    padding-right: 2rem;
  }
}
@media (max-width: 1080px) {
  .sub.invite .wrapper,
  .sub.event .wrapper {
    width: 100%;
  }
  .sub .list {
    padding: 0 3rem;
  }
  .sub .list > div {
    flex: 0 0 30%;
  }
  .sub .list .article {
    flex: 0 0 50%;
  }
  .sub .list .article .articel-wrapper {
    padding: 2.5rem 3rem;
  }
  .sub .list .article .articel-wrapper p {
    font-size: 1rem;
  }
  footer .flex img {
    width: 8rem;
  }
  footer .flex ul {
    font-size: 11px;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  footer .logos a {
    margin-left: 1rem;
  }
  footer .logos img {
    width: initial;
    height: 1.25rem;
  }
  .sub .wrapper .logo {
    height: 4rem;
  }
  .sub .wrapper .title {
    height: 2rem;
  }
  .sub .wrapper p {
    font-size: 1rem;
  }
  .sub .wrapper .evenly > div {
    width: 70%;
  }
  .sub .wrapper .evenly .menu-image {
    width: 30%;
  }
  .sub .wrapper .evenly .menu-image img {
    width: 100%;
  }
  .sub.event .guide div {
    font-size: 1.25rem;
  }
  .detail .back {
    z-index: 5;
  }
  .detail .wrapper {
    padding: 0 2rem;
  }
  .detail .wrapper .evenly > div {
    width: 40%;
  }
  .detail .wrapper .evenly > div:first-of-type {
    width: 60%;
  }
  .detail .wrapper .evenly .logo {
    width: 100%;
    height: initial;
  }
  .detail .wrapper .evenly .label {
    font-size: 1rem;
    min-width: 6rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }
  .detail .wrapper .evenly .label + h3 {
    font-size: 1.5rem;
  }
  .detail .wrapper .evenly .info .flex {
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .button-event {
    width: 4rem;
    height: 4rem;
    bottom: 2rem;
  }
  .pop-event {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem 1.5rem;
  }
  .pop-event .between h4 {
    font-size: 1.25rem;
  }
  .pop-event p,
  .pop-event label {
    font-size: 0.875rem;
  }
  .pop-event.result {
    width: 100%;
  }
  .pop-event.result .flex.center img {
    width: 16rem;
  }
  .pop-event.result .flex.align-center {
    flex-direction: column;
  }
  .pop-event.result .flex.align-center img {
    margin: 0 0 2rem;
  }
  .pop-event.result .flex.align-center > div {
    width: 100%;
    transform: none;
  }
  .intro h1 {
    padding: 0 2rem;
  }
  .intro h1 svg {
    width: 100%;
  }
  .intro .logos {
    gap: 1rem;
  }
  .intro .logos img {
    height: 1.25rem;
  }
  .intro .show-second {
    justify-content: start;
    padding-top: 2rem;
  }
  .intro .show-second svg {
    width: 80%;
    height: auto;
  }
  .intro .show-second p {
    font-size: 0.875rem;
    margin: 2rem 0 1rem;
  }
  .intro .img.mountain.left {
    transform: translate(-50%, 0) !important;
  }
  .intro .img.mountain.right {
    transform: translate(50%, 0) !important;
  }
  .intro .img.people.left {
    left: 0%;
  }
  .intro .img.people.right {
    right: 0%;
  }
  .intro .sponsers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    right: 0;
    bottom: 0;
    width: 100%;
    background: #897f76;
    padding: 0.75rem 2rem;
  }
  .intro .sponsers li:first-of-type {
    margin-right: 2rem;
  }
  .intro .sponsers li:last-of-type {
    width: 100%;
    margin-top: 1rem;
  }
  .intro .sponsers li + li {
    margin: 0;
  }
  .main {
    max-height: 100%;
  }
  .main header {
    height: 4rem;
    justify-content: center !important;
    padding: 0.75rem 0;
  }
  .main header h2 {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .main header h2 img {
    height: 100%;
  }
  .main header .flex {
    display: none;
  }
  .main section {
    height: calc(100% - 7rem);
  }
  .main section .wrapper {
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: initial;
  }
  .main section .wrapper h2 {
    position: relative;
    top: initial;
    left: initial;
    transform: none;
  }
  .main section .wrapper .flex {
    flex: 1 0 auto;
    flex-wrap: wrap;
    width: 100%;
    position: initial;
    height: initial;
    padding: 0 1rem;
  }
  .main section .wrapper .flex:not(:first-of-type) {
    margin-top: 0;
  }
  .main section .wrapper .flex article {
    width: 50%;
    animation-delay: 0s !important;
  }
  .main section .wrapper .flex article.for-pc {
    display: none;
  }
  .main section .wrapper .flex article.for-mobile {
    display: block;
  }
  .main section .wrapper .flex article:after {
    display: none;
  }
  .main section .wrapper .flex article h3 {
    position: relative;
    height: 100%;
    margin: 0;
    padding-top: 1.5rem;
  }
  .main section .wrapper .flex article img {
    position: relative;
    display: block;
    transform: none;
    top: initial;
    left: initial;
  }
  .main section .wrapper .flex article img:first-of-type {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .main section .wrapper .flex article img:last-of-type {
    height: 100%;
  }
  .main section article {
    background: none;
  }
  .main section article:before {
    display: none;
  }
  .main footer {
    height: 3rem;
    padding: 0;
  }
  .main footer > .align-center {
    display: none;
  }
  .main footer > .flex:not(.align-center) {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
  .main footer > .flex:not(.align-center) a {
    width: 50%;
    color: #333;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }
  .main footer > .flex:not(.align-center) a br {
    display: none;
  }
  .main footer > .flex:not(.align-center) a:last-of-type {
    border-left: 1px solid #aaa;
  }
  .sub:before {
    display: none;
  }
  .sub .back {
    top: 0;
  }
  .sub .wrapper {
    padding: 0 1.5rem;
  }
  .sub .wrapper .logo {
    display: none;
  }
  .sub .wrapper .title {
    height: 2rem;
  }
  .sub .wrapper p {
    font-size: 0.875rem;
  }
  .sub .wrapper .evenly {
    flex-direction: column;
    padding-top: 2rem;
  }
  .sub .wrapper .evenly > div {
    width: 100%;
  }
  .sub .wrapper .evenly .menu-image {
    justify-content: center;
    width: 100%;
  }
  .sub .wrapper .evenly .menu-image img {
    height: 16rem;
  }
  .sub .list {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    padding: 0;
  }
  .sub .list > div {
    flex: 0 0 50%;
    padding: 0 0.5rem;
  }
  .sub.visitor .evenly > div:last-of-type {
    padding: 0;
  }
  .sub.event .wrapper .evenly > div:first-of-type {
    padding: 0;
  }
  .sub.event .wrapper .flex.between {
    flex-direction: column;
    gap: 2rem;
  }
  .sub.event .guide div {
    font-size: 1rem;
  }
  .detail:after {
    display: none;
  }
  .detail .wrapper {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .detail .wrapper .evenly {
    display: block;
  }
  .detail .wrapper .evenly > div {
    width: 100% !important;
    height: initial;
  }
  .detail .wrapper .evenly > div:first-of-type {
    height: 80%;
  }
  .detail .wrapper .evenly .logo {
    display: none;
  }
  .detail .wrapper .evenly .image-wrapper {
    height: 100%;
    padding-bottom: 5rem;
  }
  .detail .wrapper .evenly .image-wrapper .light {
    top: 0;
    width: 75%;
  }
  .detail .wrapper .evenly .image-area svg {
    width: 60%;
    height: initial;
    overflow: visible;
  }
  .detail .wrapper .evenly .image-area.horizontal svg {
    width: 75%;
  }
  .detail .wrapper .evenly .video {
    width: 100%;
    margin: 0;
  }
  .detail .wrapper .evenly .video .video-container {
    width: 100%;
    padding-top: 177.77%;
  }
  .detail .wrapper .evenly .video .video-container:after {
    display: none;
  }
  .detail .wrapper .evenly .info {
    padding: 2.5rem 2rem;
  }
  .detail .wrapper .evenly .info .label + p {
    font-size: 1.5rem;
  }
  .detail .slick-prev,
  .detail .slick-next {
    width: 2.5rem;
    height: 2.5rem;
  }
  .detail .slick-prev {
    left: 0.5rem;
  }
  .detail .slick-next {
    right: 0.5rem;
  }
  .modal {
    width: 100%;
  }
  .modal img {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 576px) {
  .sub .list .article {
    flex: 0 0 100%;
    padding: 2.5rem 25%;
  }
  .sub.event .guide div {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=style.css.map */