@import "../font/pretendard-subset.css";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  overflow: hidden;
  font-family: "Pretendard", sans-serif;
}

.color {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(125, 75, 122) 10%, rgba(45, 30, 80, 0.1) 100%);
}

.texture {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url("../images/texture.jpg");
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.controls,
.menu {
  display: none;
}

.intro {
  position: relative;
  background: black;
}
.intro h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 100;
}
.intro h1 span {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  opacity: 0;
  animation: fade 800ms ease-in-out forwards;
}
.intro h1 span:nth-child(1) {
  animation-delay: calc(1.875s + (1 * .075s));
}
.intro h1 span:nth-child(2) {
  animation-delay: calc(1.875s + (2 * .075s));
}
.intro h1 span:nth-child(3) {
  animation-delay: calc(1.875s + (3 * .075s));
}
.intro h1 span:nth-child(4) {
  animation-delay: calc(1.875s + (4 * .075s));
}
.intro h1 span:nth-child(5) {
  animation-delay: calc(1.875s + (5 * .075s));
}
.intro h1 span:nth-child(6) {
  animation-delay: calc(1.875s + (6 * .075s));
}
.intro h1 span:nth-child(7) {
  animation-delay: calc(1.875s + (7 * .075s));
}
.intro h1 span:nth-child(8) {
  animation-delay: calc(1.875s + (8 * .075s));
}
.intro h1 span:nth-child(9) {
  animation-delay: calc(1.875s + (9 * .075s));
}
.intro h1 span:nth-child(10) {
  animation-delay: calc(1.875s + (10 * .075s));
}
.intro h1 span:nth-child(11) {
  animation-delay: calc(1.875s + (11 * .075s));
}
.intro h1 span:nth-child(12) {
  animation-delay: calc(1.875s + (12 * .075s));
}
.intro h1 span:nth-child(13) {
  animation-delay: calc(1.875s + (13 * .075s));
}
.intro h1 span:nth-child(14) {
  animation-delay: calc(1.875s + (14 * .075s));
}
.intro h1 span:nth-child(15) {
  animation-delay: calc(1.875s + (15 * .075s));
}
.intro h1 span:nth-child(16) {
  animation-delay: calc(1.875s + (16 * .075s));
}
.intro h1 span:nth-child(17) {
  animation-delay: calc(1.875s + (17 * .075s));
}
.intro h1 span:nth-child(18) {
  animation-delay: calc(1.875s + (18 * .075s));
}
.intro h1 span:nth-child(19) {
  animation-delay: calc(1.875s + (19 * .075s));
}
.intro h1 span:nth-child(20) {
  animation-delay: calc(1.875s + (20 * .075s));
}
.intro .img {
  position: absolute;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  z-index: 10;
}
.intro .img.wall {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33.333%;
  background-image: url("../images/img-wall.png");
  background-repeat: repeat-x;
  animation: wallSlideIn 1.25s ease-in-out;
  z-index: 100;
}
.intro .img.mountain {
  left: 0;
  bottom: 33%;
  width: 100%;
  height: 33.333%;
  transform: translateY(200%);
  background-repeat: no-repeat;
  animation: mtSlideIn 1.2s ease-in-out;
  animation-fill-mode: forwards;
  z-index: 99;
}
.intro .img.mountain.left {
  background-image: url("../images/img-mt-left.png");
  background-position: left;
  animation-delay: 1.75s;
}
.intro .img.mountain.right {
  background-image: url("../images/img-mt-right.png");
  background-position: right;
  animation-delay: 2s;
}
.intro .img.people {
  bottom: 0;
  height: 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1/2.25;
  animation: peopleSlideIn 1.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 101;
}
.intro .img.people.left {
  left: 30%;
  background-image: url("../images/img-people01.png");
  animation-delay: 0.25s;
}
.intro .img.people.right {
  left: 60%;
  background-image: url("../images/img-people02.png");
  animation-delay: 0.35s;
}

@keyframes wallSlideIn {
  from {
    transform: translateY(100%) scale(2);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes peopleSlideIn {
  from {
    transform: translateY(400%) scale(8);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes mtSlideIn {
  0% {
    transform: translateY(200%);
  }
  35% {
    transform: translateY(1%) scale(1.075);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
@keyframes fade {
  0% {
    transform: translate(-1rem, -1rem);
    filter: blur(15px);
    opacity: 0;
  }
  50% {
    filter: blur(10px);
    opacity: 0.9;
  }
  100% {
    transform: translate(0, 0);
    filter: blur(0px);
    opacity: 1;
  }
}
.flex {
  display: flex;
}
.flex.end {
  justify-content: end;
}
.flex.between {
  justify-content: space-between;
}
.flex.evenly {
  justify-content: space-evenly;
}
.flex.align-start {
  align-items: start;
}
.flex.align-center {
  align-items: center;
}
.flex.vertical {
  flex-direction: column;
}

header {
  position: relative;
  z-index: 2;
  width: 1440px;
  margin: 0 auto;
  padding-top: 2.5rem;
}
header h2 {
  display: none;
}
header a {
  display: inline-flex;
  align-items: center;
  height: auto;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}
header a:last-child {
  margin-left: 4rem;
}
header a:last-child:before {
  content: "";
  display: inline-block;
  position: relative;
  left: -2rem;
  width: 1px;
  height: 2rem;
  background: white;
  opacity: 0.5;
}

footer {
  position: relative;
  z-index: 2;
  background: #e6e6e6;
  color: #808080;
  padding: 0.75rem 0;
}
footer > .flex {
  width: 1440px;
  margin: 0 auto;
}
footer > .flex:not(.align-center) {
  display: none;
}
footer ul {
  list-style: none;
  line-height: 150%;
  border-left: 1px solid #c2c2c2;
  font-size: 0.75rem;
  margin-left: 1.75rem;
  padding-left: 1.75rem;
}
footer ul a {
  color: #808080;
}
footer .logos {
  display: flex;
}
footer .logos a {
  margin-left: 2rem;
}
footer .logos img {
  height: 1.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #D883A0 0%, #613270 100%);
  color: white;
}
.info header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 1.5rem 0;
}
.info header img {
  height: 2.75rem;
}
.info .content {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .content > .align-center {
  justify-content: center;
  gap: 10rem;
}
.info p {
  font-size: 1.5rem;
  line-height: 150%;
  margin-bottom: 4rem;
}
.info a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 150%;
}
.info sub {
  font-size: 0.875rem;
  margin-top: 10rem;
}
.info footer {
  background: transparent;
  text-align: center;
  padding: 2rem 0;
}
.info footer .flex {
  display: inline-flex;
  gap: 1.5rem;
  width: auto;
  background: white;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
}
.info footer .flex a {
  display: flex;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(0deg, #b87598 10%, #703678 100%);
}
.main > svg {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 8rem;
  border: 1px solid white;
  z-index: 100;
}
.main header,
.main footer {
  flex: 0 0 auto;
}
.main section {
  flex-grow: 1;
}
.main section .wrapper {
  position: relative;
  top: 35%;
  width: 1440px;
  aspect-ratio: 16/6;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.main section .wrapper > .flex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main section .wrapper > .flex:nth-of-type(2) {
  top: 140px;
}
.main section .wrapper > .flex:last-of-type {
  top: 340px;
  width: 102%;
  margin-left: -1%;
}
.main section .wrapper h2 {
  position: absolute;
  top: -55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.main section .wrapper h2 img {
  width: 85%;
  margin: 0 auto;
}
.main section .wrapper h2 span {
  opacity: 0;
}
.main section article {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  background: linear-gradient(90deg, #ADBEDB 0%, #A2ADC1 17%, #9BA1B0 34%, #999EAA 46%, #D3DDEB 54%, #D3DAE6 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  transform: translateY(150%);
  animation: SlideIn 0.875s cubic-bezier(0.65, 0, 1, 1);
  animation-fill-mode: forwards;
}
.main section article:before {
  content: "";
  display: inline-block;
  width: 100%;
  aspect-ratio: 1/0.584;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='354' height='204' viewBox='0 0 354 204' fill='none'%3E%3Cg filter='url(%23filter0_i_2_16084)'%3E%3Cpath d='M176.98 203.04C172.2 203.04 167.72 201.97 164.36 200.03L5.69998 108.42C2.44998 106.55 0.669983 104.1 0.669983 101.52C0.669983 98.94 2.45998 96.49 5.69998 94.62L164.37 3.01C167.73 1.07 172.21 0 176.98 0C181.76 0 186.24 1.07 189.6 3.01L348.27 94.62C351.51 96.49 353.3 98.94 353.3 101.52C353.3 104.1 351.51 106.55 348.27 108.42L189.6 200.03C186.24 201.97 181.76 203.04 176.98 203.04Z' fill='url(%23paint0_linear_2_16084)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_2_16084' x='0.669983' y='0' width='352.63' height='203.04' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='-1'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_2_16084'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2_16084' x1='176.985' y1='0' x2='176.985' y2='203.04' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23EFEFEF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.1)) drop-shadow(0 -1px 0 white);
  transform: translateY(-49%);
}
.main section article:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  background: linear-gradient(90deg, #ADBEDB 0%, #A2ADC1 17%, #9BA1B0 34%, #999EAA 46%, #D3DDEB 54%, #D3DAE6 100%);
}
.main section article img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -62.5%);
}
.main section article img:first-of-type:not(:last-of-type) {
  z-index: 2;
  top: -45%;
  transform: translateX(-50%);
}
.main section article.article-01 {
  animation-delay: calc(1 * .0675s);
}
.main section article.article-02 {
  animation-delay: calc(2 * .0675s);
}
.main section article.article-03 {
  animation-delay: calc(3 * .0675s);
}
.main section article.article-04 {
  animation-delay: calc(4 * .0675s);
}
.main section article.article-05 {
  animation-delay: calc(5 * .0675s);
}
.main section article.article-06 {
  animation-delay: calc(6 * .0675s);
}
.main section article.article-07 {
  animation-delay: calc(7 * .0675s);
}
@keyframes SlideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slick-prev,
.slick-next {
  top: calc(50% + 29px);
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
}
.slick-prev:before,
.slick-next:before {
  content: "";
}

.slick-next {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.slick-prev:hover, .slick-prev:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center/contain;
}

.slick-next:hover, .slick-next:focus {
  background: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center/contain;
}

.sub {
  height: 100%;
  background: #e6e6e6;
  border-width: 0.625rem 0 0 0;
  border-style: solid;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sub.love {
  border-color: #F06673;
  background: linear-gradient(0deg, #F2DFDF 0%, #E9BEBD 100%);
}
.sub.love > .back svg path {
  fill: #F06673;
}
.sub.learn {
  border-color: #FF8B00;
  background: linear-gradient(0deg, #F2EADF 0%, #FFDAB1 100%);
}
.sub.learn > .back svg path {
  fill: #FF8B00;
}
.sub.letter {
  border-color: #93D600;
  background: linear-gradient(0deg, #EBF3DA 0%, #E9F9C6 100%);
}
.sub.letter > .back svg path {
  fill: #93D600;
}
.sub.postcard {
  border-color: #00CEA6;
  background: linear-gradient(0deg, #E2F9F4 0%, #C2F2E9 100%);
}
.sub.postcard > .back svg path {
  fill: #00CEA6;
}
.sub > .back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
}
.sub > .back svg {
  width: 100%;
}
.sub section {
  height: 100%;
}
.sub .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 1440px;
  margin: 0 auto;
}
.sub .wrapper img {
  display: block;
}
.sub .wrapper .logo {
  height: 5.625rem;
  margin-bottom: 3.25rem;
}
.sub .wrapper .title {
  height: 2.5rem;
  margin-bottom: 2.75rem;
}
.sub .wrapper p {
  font-size: 1.125rem;
  line-height: 140%;
}
.sub .wrapper .evenly {
  flex: 1;
  padding-top: 4rem;
}
.sub .wrapper .evenly > div {
  width: 50%;
}
.sub .wrapper .evenly > div:first-of-type {
  padding-left: 10rem;
}
.sub .wrapper .evenly .menu-image img {
  width: 512px;
}
.sub .carousel {
  padding: 0 5rem;
}
.sub .carousel .slick-slide {
  text-align: center;
  font-size: 0.875rem;
}
.sub .carousel .slick-slide h3 {
  font-size: 1.25rem;
  margin: 0;
}
.sub .carousel .slick-slide img {
  margin: 1.5rem auto 0;
}
.sub .carousel img {
  position: relative;
  width: 11.25rem;
  box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.0625);
}
.sub .carousel-bottom {
  height: 20px;
  background: linear-gradient(179deg, #DBBEA2 0%, #D4B79B 26%, #C3A587 64%, #AE8E6F 100%);
  border-top: 2px solid #dbc3a4;
  border-bottom: 2px solid #7d6f5e;
  border-radius: 4px;
  margin-bottom: 5rem;
}
.sub .carousel-bottom:before, .sub .carousel-bottom:after {
  content: "";
  display: block;
  width: 90%;
  height: 2.5rem;
  position: relative;
  top: 18px;
  left: 5%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  opacity: 0.125;
  transform: skewX(-45deg);
}
.sub .carousel-bottom:after {
  transform: skewX(45deg);
  top: calc(-2.5rem + 18px);
  left: 8%;
}

.detail {
  height: 100%;
  background: #e6e6e6;
  border-width: 0.625rem 0 0 0;
  border-style: solid;
  box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}
.detail.love {
  border-color: #F06673;
  background: linear-gradient(180deg, rgb(233, 190, 189) 0%, rgb(242, 223, 223) 72%, rgb(255, 243, 243) 73%, rgb(254, 235, 235) 100%);
}
.detail.love > .back svg path {
  fill: #F06673;
}
.detail.love .label {
  background: #F06673;
}
.detail.learn {
  border-color: #FF8B00;
  background: linear-gradient(180deg, #FFDAB1 0%, rgb(223, 223, 223) 72%, rgb(243, 243, 243) 73%, #F2EADF 100%);
}
.detail.learn > .back svg path {
  fill: #FF8B00;
}
.detail.learn .label {
  background: #FF8B00;
}
.detail.letter {
  border-color: #93D600;
  background: linear-gradient(180deg, #E9F9C6 0%, rgb(223, 223, 223) 72%, rgb(243, 243, 243) 73%, #EBF3DA 100%);
}
.detail.letter > .back svg path {
  fill: #93D600;
}
.detail.letter .label {
  background: #93D600;
}
.detail.postcard {
  border-color: #00CEA6;
  background: linear-gradient(180deg, #C2F2E9 0%, rgb(223, 223, 223) 72%, rgb(243, 243, 243) 73%, #E2F9F4 100%);
}
.detail.postcard > .back svg path {
  fill: #00CEA6;
}
.detail.postcard .label {
  background: #00CEA6;
}
.detail > .back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
}
.detail > .back svg {
  width: 100%;
}
.detail .carousel,
.detail .slick-list,
.detail .slick-track {
  height: 100%;
}
.detail .slick-prev,
.detail .slick-next {
  top: 50%;
  width: 4.5rem;
  height: 4.5rem;
}
.detail .slick-prev {
  left: 2rem;
}
.detail .slick-next {
  right: 2rem;
}
.detail .wrapper {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.detail .evenly {
  height: 100%;
}
.detail .evenly > div {
  width: 50%;
  height: 100%;
  padding: 0 2rem;
}
.detail .evenly .image-wrapper {
  position: relative;
  height: calc(100% - 100px);
  background-image: url("../images/img_bg.svg");
  background-repeat: repeat-x;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.375);
  padding: 0 5rem;
  z-index: 2;
}
.detail .evenly .image-wrapper-bottom {
  position: relative;
  z-index: 1;
  transform: translateY(-50%);
  background: radial-gradient(circle, rgb(141, 117, 108) 35%, rgb(215, 196, 186) 55%, rgba(255, 255, 255, 0) 75%);
  width: 120%;
  left: -10%;
  padding-bottom: 120%;
  transform: scaleY(0.0625) translateY(-50%);
  transform-origin: top center;
  border-radius: 9999px;
}
.detail .evenly .image-wrapper .light {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
}
.detail .evenly .image-wrapper img:not(.light) {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  z-index: 1;
}
.detail .evenly .logo {
  height: 5.625rem;
  margin: 5.5rem 0 6.75rem;
}
.detail .info .flex {
  margin-bottom: 1.25rem;
}
.detail .info .flex strong {
  font-size: 1.75rem;
}
.detail .label {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  flex-shrink: 0;
  min-width: 8.25rem;
  text-align: center;
  padding: 0.75rem 1.5rem;
  margin-right: 1.5rem;
}
.detail .label + h3 {
  font-size: 1.75rem;
  margin: 0;
}
.detail .label + p {
  line-height: 150%;
  margin: 0;
  padding: 0.875rem 0 0;
}

@media (max-width: 1440px) {
  .main section .wrapper {
    width: 100%;
  }
  .main section .wrapper h2 img {
    height: 100px;
  }
  .main section .wrapper .flex {
    padding: 0 3.75rem;
  }
  .main section .wrapper .flex article img {
    width: 71%;
    margin: 0 auto;
  }
  .main header,
  .main footer > .flex {
    width: 100%;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .sub .wrapper {
    width: 100%;
    padding: 0 4rem;
  }
  .sub .wrapper .logo {
    height: 3.5rem;
  }
  .sub .wrapper .title {
    height: 1.75rem;
  }
  .sub .wrapper p {
    font-size: 0.875rem;
  }
  .detail .wrapper {
    width: 100%;
    padding: 0 4rem;
  }
}
@media (max-width: 1280px) {
  .detail .wrapper .evenly > div:first-of-type {
    padding: 0;
  }
  .detail .wrapper .evenly .logo {
    height: 5rem;
  }
  .detail .wrapper .evenly .label {
    font-size: 1.25rem;
    min-width: 7.375rem;
  }
}
@media (max-width: 1080px) {
  footer .flex img {
    width: 8rem;
  }
  footer .flex ul {
    font-size: 11px;
    margin-left: 1rem;
    padding-left: 1rem;
  }
  footer .logos a {
    margin-left: 1rem;
  }
  footer .logos img {
    width: initial;
    height: 1.25rem;
  }
  .sub .wrapper .logo {
    height: 4rem;
  }
  .sub .wrapper .title {
    height: 2rem;
  }
  .sub .wrapper p {
    font: 1rem;
  }
  .sub .wrapper .evenly > div {
    width: 70%;
  }
  .sub .wrapper .evenly .menu-image {
    width: 30%;
  }
  .sub .wrapper .evenly .menu-image img {
    width: 100%;
  }
  .detail .back {
    z-index: 5;
  }
  .detail .wrapper {
    padding: 0 2rem;
  }
  .detail .wrapper .evenly > div {
    width: 40%;
  }
  .detail .wrapper .evenly > div:first-of-type {
    width: 60%;
  }
  .detail .wrapper .evenly .logo {
    width: 100%;
    height: initial;
  }
  .detail .wrapper .evenly .label {
    font-size: 1rem;
    min-width: 6rem;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
  }
  .detail .wrapper .evenly .label + h3 {
    font-size: 1.5rem;
  }
  .detail .wrapper .evenly .info .flex {
    flex-direction: column;
    align-items: start;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .main {
    max-height: 100%;
  }
  .main header {
    height: 4rem;
    justify-content: center !important;
    padding: 0.75rem 0;
  }
  .main header h2 {
    display: block;
    margin: 0;
  }
  .main header h2 img {
    height: 100%;
  }
  .main header .flex {
    display: none;
  }
  .main section {
    height: calc(100% - 7rem);
  }
  .main section .wrapper {
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: initial;
  }
  .main section .wrapper h2 {
    display: none;
  }
  .main section .wrapper .flex {
    flex-wrap: wrap;
    height: 25%;
    width: 100%;
    position: initial;
    padding: 0 1rem;
  }
  .main section .wrapper .flex:last-of-type {
    height: 50%;
  }
  .main section .wrapper .flex:last-of-type article {
    height: 50%;
  }
  .main section .wrapper .flex article {
    width: 50%;
    animation-delay: 0s !important;
  }
  .main section .wrapper .flex article:after {
    display: none;
  }
  .main section .wrapper .flex article h3 {
    position: relative;
    height: 100%;
    margin: 0;
    padding-top: 1.5rem;
  }
  .main section .wrapper .flex article img {
    position: relative;
    display: block;
    transform: none;
    top: initial;
    left: initial;
  }
  .main section .wrapper .flex article img:first-of-type {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
  }
  .main section .wrapper .flex article img:last-of-type {
    height: 100%;
  }
  .main section article {
    background: none;
  }
  .main section article:before {
    display: none;
  }
  .main footer {
    height: 3rem;
    padding: 0;
  }
  .main footer > .align-center {
    display: none;
  }
  .main footer > .flex:not(.align-center) {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
  .main footer > .flex:not(.align-center) a {
    width: 50%;
    color: #333;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
  }
  .main footer > .flex:not(.align-center) a br {
    display: none;
  }
  .main footer > .flex:not(.align-center) a:last-of-type {
    border-left: 1px solid #aaa;
  }
  .sub .wrapper {
    padding: 0 2rem;
  }
  .sub .wrapper .logo {
    display: none;
  }
  .sub .wrapper .title {
    height: 2rem;
  }
  .sub .wrapper p {
    font: 1rem;
  }
  .sub .wrapper .evenly > div {
    width: 100%;
  }
  .sub .wrapper .evenly > div:first-of-type {
    padding: 3rem 0 0 0;
  }
  .sub .wrapper .evenly .menu-image {
    width: 25%;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
  }
  .sub .wrapper .carousel img {
    box-shadow: none;
  }
  .detail .wrapper {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .detail .wrapper .evenly {
    display: block;
  }
  .detail .wrapper .evenly > div {
    width: 100% !important;
    height: initial;
  }
  .detail .wrapper .evenly > div:first-of-type {
    height: 80%;
  }
  .detail .wrapper .evenly .logo {
    display: none;
  }
  .detail .wrapper .evenly .image-wrapper {
    height: 100%;
    padding-bottom: 5rem;
  }
  .detail .wrapper .evenly .image-wrapper .light {
    width: 75%;
  }
  .detail .wrapper .evenly .info {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .detail .slick-prev,
  .detail .slick-next {
    width: 2.5rem;
    height: 2.5rem;
  }
  .detail .slick-prev {
    left: 0.5rem;
  }
  .detail .slick-next {
    right: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */