@import url(/Volumes/part2/work/2023/edu/font/pretendard-subset.css);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333;
  overflow: hidden;
  font-family: 'Pretendard', sans-serif;
}

.color {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #7d4b7a), to(rgba(45, 30, 80, 0.1)));
  background: linear-gradient(0deg, #7d4b7a 10%, rgba(45, 30, 80, 0.1) 100%);
}

.texture {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url("../images/texture.jpg");
  mix-blend-mode: multiply;
  opacity: .35;
}

.controls,
.menu {
  display: none;
}

.intro {
  position: relative;
  background: black;
}

.intro h1 {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  z-index: 100;
}

.intro h1 span {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 50px;
  font-weight: 600;
  opacity: 0;
  -webkit-animation: fade 800ms ease-in-out forwards;
          animation: fade 800ms ease-in-out forwards;
}

.intro h1 span:nth-child(1) {
  -webkit-animation-delay: calc(1.875s + (1 * .075s));
          animation-delay: calc(1.875s + (1 * .075s));
}

.intro h1 span:nth-child(2) {
  -webkit-animation-delay: calc(1.875s + (2 * .075s));
          animation-delay: calc(1.875s + (2 * .075s));
}

.intro h1 span:nth-child(3) {
  -webkit-animation-delay: calc(1.875s + (3 * .075s));
          animation-delay: calc(1.875s + (3 * .075s));
}

.intro h1 span:nth-child(4) {
  -webkit-animation-delay: calc(1.875s + (4 * .075s));
          animation-delay: calc(1.875s + (4 * .075s));
}

.intro h1 span:nth-child(5) {
  -webkit-animation-delay: calc(1.875s + (5 * .075s));
          animation-delay: calc(1.875s + (5 * .075s));
}

.intro h1 span:nth-child(6) {
  -webkit-animation-delay: calc(1.875s + (6 * .075s));
          animation-delay: calc(1.875s + (6 * .075s));
}

.intro h1 span:nth-child(7) {
  -webkit-animation-delay: calc(1.875s + (7 * .075s));
          animation-delay: calc(1.875s + (7 * .075s));
}

.intro h1 span:nth-child(8) {
  -webkit-animation-delay: calc(1.875s + (8 * .075s));
          animation-delay: calc(1.875s + (8 * .075s));
}

.intro h1 span:nth-child(9) {
  -webkit-animation-delay: calc(1.875s + (9 * .075s));
          animation-delay: calc(1.875s + (9 * .075s));
}

.intro h1 span:nth-child(10) {
  -webkit-animation-delay: calc(1.875s + (10 * .075s));
          animation-delay: calc(1.875s + (10 * .075s));
}

.intro h1 span:nth-child(11) {
  -webkit-animation-delay: calc(1.875s + (11 * .075s));
          animation-delay: calc(1.875s + (11 * .075s));
}

.intro h1 span:nth-child(12) {
  -webkit-animation-delay: calc(1.875s + (12 * .075s));
          animation-delay: calc(1.875s + (12 * .075s));
}

.intro h1 span:nth-child(13) {
  -webkit-animation-delay: calc(1.875s + (13 * .075s));
          animation-delay: calc(1.875s + (13 * .075s));
}

.intro h1 span:nth-child(14) {
  -webkit-animation-delay: calc(1.875s + (14 * .075s));
          animation-delay: calc(1.875s + (14 * .075s));
}

.intro h1 span:nth-child(15) {
  -webkit-animation-delay: calc(1.875s + (15 * .075s));
          animation-delay: calc(1.875s + (15 * .075s));
}

.intro h1 span:nth-child(16) {
  -webkit-animation-delay: calc(1.875s + (16 * .075s));
          animation-delay: calc(1.875s + (16 * .075s));
}

.intro h1 span:nth-child(17) {
  -webkit-animation-delay: calc(1.875s + (17 * .075s));
          animation-delay: calc(1.875s + (17 * .075s));
}

.intro h1 span:nth-child(18) {
  -webkit-animation-delay: calc(1.875s + (18 * .075s));
          animation-delay: calc(1.875s + (18 * .075s));
}

.intro h1 span:nth-child(19) {
  -webkit-animation-delay: calc(1.875s + (19 * .075s));
          animation-delay: calc(1.875s + (19 * .075s));
}

.intro h1 span:nth-child(20) {
  -webkit-animation-delay: calc(1.875s + (20 * .075s));
          animation-delay: calc(1.875s + (20 * .075s));
}

.intro .img {
  position: absolute;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  z-index: 10;
}

.intro .img.wall {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 33.333%;
  background-image: url("../images/img-wall.png");
  background-repeat: repeat-x;
  -webkit-animation: wallSlideIn 1.25s ease-in-out;
          animation: wallSlideIn 1.25s ease-in-out;
  z-index: 100;
}

.intro .img.mountain {
  left: 0;
  bottom: 33%;
  width: 100%;
  height: 33.333%;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  background-repeat: no-repeat;
  -webkit-animation: mtSlideIn 1.2s ease-in-out;
          animation: mtSlideIn 1.2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 99;
}

.intro .img.mountain.left {
  background-image: url("../images/img-mt-left.png");
  background-position: left;
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.intro .img.mountain.right {
  background-image: url("../images/img-mt-right.png");
  background-position: right;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.intro .img.people {
  bottom: 0;
  height: 50%;
  background-repeat: no-repeat;
  aspect-ratio: 1/2.25;
  -webkit-animation: peopleSlideIn 1.5s ease-in-out;
          animation: peopleSlideIn 1.5s ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  z-index: 101;
}

.intro .img.people.left {
  left: 30%;
  background-image: url("../images/img-people01.png");
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

.intro .img.people.right {
  left: 60%;
  background-image: url("../images/img-people02.png");
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

@-webkit-keyframes wallSlideIn {
  from {
    -webkit-transform: translateY(100%) scale(2);
            transform: translateY(100%) scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes wallSlideIn {
  from {
    -webkit-transform: translateY(100%) scale(2);
            transform: translateY(100%) scale(2);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes peopleSlideIn {
  from {
    -webkit-transform: translateY(400%) scale(8);
            transform: translateY(400%) scale(8);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes peopleSlideIn {
  from {
    -webkit-transform: translateY(400%) scale(8);
            transform: translateY(400%) scale(8);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes mtSlideIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  35% {
    -webkit-transform: translateY(1%) scale(1.075);
            transform: translateY(1%) scale(1.075);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes mtSlideIn {
  0% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  35% {
    -webkit-transform: translateY(1%) scale(1.075);
            transform: translateY(1%) scale(1.075);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translate(-1rem, -1rem);
            transform: translate(-1rem, -1rem);
    -webkit-filter: blur(15px);
            filter: blur(15px);
    opacity: 0;
  }
  50% {
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.flex.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  z-index: 2;
  width: 1440px;
  margin: 0 auto;
  padding-top: 2.5rem;
}

header img {
  width: 600px;
}

header a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

header a:last-child {
  margin-left: 4rem;
}

header a:last-child:before {
  content: '';
  display: inline-block;
  position: relative;
  left: -2rem;
  width: 1px;
  height: 2rem;
  background: white;
  opacity: .5;
}

footer {
  position: relative;
  z-index: 2;
  background: #e6e6e6;
  color: #808080;
  padding: .75rem 0;
}

footer > .flex {
  width: 1440px;
  margin: 0 auto;
}

footer ul {
  list-style: none;
  line-height: 150%;
  border-left: 1px solid #c2c2c2;
  font-size: .75rem;
  margin-left: 1.75rem;
  padding-left: 1.75rem;
}

footer ul a {
  color: #808080;
}

footer .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .logos a {
  margin-left: 2rem;
}

footer .logos img {
  height: 1.75rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #b87598), to(#703678));
  background: linear-gradient(0deg, #b87598 10%, #703678 100%);
}

.main header,
.main footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.main section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main section .wrapper {
  position: relative;
  top: 35%;
  width: 1440px;
  aspect-ratio: 16 / 6;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.main section .wrapper > .flex {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main section .wrapper > .flex:nth-of-type(2) {
  top: 140px;
}

.main section .wrapper > .flex:last-of-type {
  top: 340px;
  width: 102%;
  margin-left: -1%;
}

.main section .wrapper h2 {
  position: absolute;
  top: -55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main section .wrapper h2 span {
  opacity: 0;
}

.main section article {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ADBEDB), color-stop(17%, #A2ADC1), color-stop(34%, #9BA1B0), color-stop(46%, #999EAA), color-stop(54%, #D3DDEB), to(#D3DAE6));
  background: linear-gradient(90deg, #ADBEDB 0%, #A2ADC1 17%, #9BA1B0 34%, #999EAA 46%, #D3DDEB 54%, #D3DAE6 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-animation: SlideIn 0.875s cubic-bezier(0.65, 0, 1, 1);
          animation: SlideIn 0.875s cubic-bezier(0.65, 0, 1, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main section article:before {
  content: "";
  display: inline-block;
  width: 100%;
  aspect-ratio: 1 / 0.584;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='354' height='204' viewBox='0 0 354 204' fill='none'%3E%3Cg filter='url(%23filter0_i_2_16084)'%3E%3Cpath d='M176.98 203.04C172.2 203.04 167.72 201.97 164.36 200.03L5.69998 108.42C2.44998 106.55 0.669983 104.1 0.669983 101.52C0.669983 98.94 2.45998 96.49 5.69998 94.62L164.37 3.01C167.73 1.07 172.21 0 176.98 0C181.76 0 186.24 1.07 189.6 3.01L348.27 94.62C351.51 96.49 353.3 98.94 353.3 101.52C353.3 104.1 351.51 106.55 348.27 108.42L189.6 200.03C186.24 201.97 181.76 203.04 176.98 203.04Z' fill='url(%23paint0_linear_2_16084)'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_i_2_16084' x='0.669983' y='0' width='352.63' height='203.04' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='-1'/%3E%3CfeComposite in2='hardAlpha' operator='arithmetic' k2='-1' k3='1'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 0 0.960784 0 0 0 1 0'/%3E%3CfeBlend mode='normal' in2='shape' result='effect1_innerShadow_2_16084'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_2_16084' x1='176.985' y1='0' x2='176.985' y2='203.04' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%23EFEFEF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.1)) drop-shadow(0 -1px 0 white);
          filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.1)) drop-shadow(0 -1px 0 white);
  -webkit-transform: translateY(-49%);
          transform: translateY(-49%);
}

.main section article img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -62.5%);
          transform: translate(-50%, -62.5%);
}

.main section article img:first-of-type:not(:last-of-type) {
  z-index: 2;
  top: -45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main section article.article-01 {
  -webkit-animation-delay: calc((1 * .0675s));
          animation-delay: calc((1 * .0675s));
}

.main section article.article-02 {
  -webkit-animation-delay: calc((2 * .0675s));
          animation-delay: calc((2 * .0675s));
}

.main section article.article-03 {
  -webkit-animation-delay: calc((3 * .0675s));
          animation-delay: calc((3 * .0675s));
}

.main section article.article-04 {
  -webkit-animation-delay: calc((4 * .0675s));
          animation-delay: calc((4 * .0675s));
}

.main section article.article-05 {
  -webkit-animation-delay: calc((5 * .0675s));
          animation-delay: calc((5 * .0675s));
}

.main section article.article-06 {
  -webkit-animation-delay: calc((6 * .0675s));
          animation-delay: calc((6 * .0675s));
}

.main section article.article-07 {
  -webkit-animation-delay: calc((7 * .0675s));
          animation-delay: calc((7 * .0675s));
}

@-webkit-keyframes SlideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes SlideIn {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1440px) {
  .main section .wrapper {
    width: 100%;
  }
  .main section .wrapper .flex {
    padding: 0 3.75rem;
  }
  .main section .wrapper .flex article img {
    width: 71%;
    margin: 0 auto;
  }
  .main header,
  .main footer > .flex {
    width: 100%;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.sub {
  height: 100%;
  background: #e6e6e6;
  border-width: .625rem 0 0 0;
  border-style: solid;
  border-color: #F06673;
}

.sub > .back {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
          filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
}

.sub > .back svg {
  width: 100%;
}

.sub > .back svg path {
  fill: #F06673;
}

.sub section {
  height: 100%;
}

.sub .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 1440px;
  margin: 0 auto;
}

.sub .wrapper img {
  display: block;
}

.sub .wrapper .logo {
  height: 5.625rem;
  margin-bottom: 3.25rem;
}

.sub .wrapper .title {
  height: 2.5rem;
  margin-bottom: 2.75rem;
}

.sub .wrapper p {
  font-size: 1.125rem;
  line-height: 140%;
}

.sub .wrapper .evenly {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 4rem;
}

.sub .wrapper .evenly > div {
  width: 50%;
}

.sub .wrapper .evenly > div:first-of-type {
  padding-left: 10rem;
}

.sub .wrapper .evenly .menu-image img {
  width: 512px;
}

.sub .carousel {
  padding: 0 5rem;
}

.sub .carousel .slick-prev,
.sub .carousel .slick-next {
  top: calc(50% + 29px);
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34663)'%3E%3Cpath d='M46.16 70.0599L16.46 40.3599L46.16 10.6599C46.94 9.87988 46.94 8.60988 46.16 7.82988L41.92 3.58988C41.14 2.80988 39.87 2.80988 39.09 3.58988L7.98003 34.6999L3.74003 38.9399C2.96003 39.7199 2.96003 40.9899 3.74003 41.7699L7.98003 46.0099L39.09 77.1199C39.87 77.8999 41.14 77.8999 41.92 77.1199L46.16 72.8799C46.94 72.0999 46.94 70.8299 46.16 70.0499V70.0599Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34663' x='0.155029' y='0.00488281' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34663'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34663' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sub .carousel .slick-prev:before,
.sub .carousel .slick-next:before {
  content: '';
}

.sub .carousel .slick-next {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='87' viewBox='0 0 56 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_31_34664)'%3E%3Cpath d='M3.84 10.6601L33.5401 40.3601L3.84 70.0601C3.06 70.8401 3.06 72.1101 3.84 72.8901L8.08 77.1301C8.85999 77.9101 10.1301 77.9101 10.9101 77.1301L42.0201 46.0201L46.26 41.7801C47.04 41.0001 47.04 39.7301 46.26 38.9501L42.0201 34.7101L10.9101 3.60014C10.1301 2.82014 8.85999 2.82014 8.08 3.60014L3.84 7.84014C3.06 8.62014 3.06 9.89014 3.84 10.6701V10.6601Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_31_34664' x='0.255005' y='0.0151367' width='55.59' height='86.7002' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dx='3' dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.5 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_31_34664'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_31_34664' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.sub .carousel .slick-slide {
  text-align: center;
  font-size: .875rem;
}

.sub .carousel .slick-slide h3 {
  font-size: 1.25rem;
  margin: 0;
}

.sub .carousel .slick-slide img {
  margin: 1.5rem auto 0;
}

.sub .carousel img {
  position: relative;
  width: 11.25rem;
  -webkit-box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.0625);
          box-shadow: 8px 2px 4px rgba(0, 0, 0, 0.0625);
}

.sub .carousel-bottom {
  height: 20px;
  background: linear-gradient(179deg, #DBBEA2 0%, #D4B79B 26%, #C3A587 64%, #AE8E6F 100%);
  border-top: 2px solid #dbc3a4;
  border-bottom: 2px solid #7d6f5e;
  border-radius: 4px;
  margin-bottom: 5rem;
}

.sub .carousel-bottom:before, .sub .carousel-bottom:after {
  content: '';
  display: block;
  width: 90%;
  height: 2.5rem;
  position: relative;
  top: 18px;
  left: 5%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  opacity: 0.125;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

.sub .carousel-bottom:after {
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  top: calc(-2.5rem + 18px);
  left: 8%;
}
/*# sourceMappingURL=style.css.map */