$color-red: #F06673;
$color-yellow: #FF8B00;
$color-green: #93D600;
$color-mint: #00CEA6;

.sub {
    height: 100%;
    background: #e6e6e6;
    border-width: .625rem 0 0 0;
    border-style: solid;
    border-color: $color-red;
    > .back {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        filter: drop-shadow(0 1px 2px rgba(50, 50, 0, 0.25));
        svg {
            width: 100%;
            path {
                fill: $color-mint;
            }
        }
    }
    .wrapper {
        width: $container-size;
        margin: 0 auto;
        img {
            display: block;
        }
        .logo {
            height: 9.125rem;
            margin-bottom: 3.25rem;
        }
        .title {
            height: 2.5rem;
            margin-bottom: 2.75rem;
        }
        p {
            font-size: 1.125rem;
            line-height: 140%;
        }
    }
}